{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block loss_profit_datatable_js %} 
    <script src="{% static 'js/loss-profit-datatable.js' %}"></script>
{% endblock loss_profit_datatable_js %}
{% block scripts_for_jspdf %}
<script src="{% static 'js/accounts-scripts.js' %}"></script>
{% endblock scripts_for_jspdf %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner text-center">
                  <h3> {{ gross_profit|intcomma }} </h3>
        
                  <h4>Gross Profit</h4>
                  {% if date_from_user %}
                    <small>From: {{ starting_year_date }} </small><br>
                    <small>To: {{ ending_year_date }} </small>
                  {% else %}
                    <span>( {{ starting_year_date }} )</span> 
                  {% endif %}
                  
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner text-center">
                  <h3> {{ net_profit|intcomma }} </h3>
        
                  <h4>Net Profit</h4>
                  {% if date_from_user %}
                    <small>From: {{ starting_year_date }} </small><br>
                    <small>To: {{ ending_year_date }} </small>
                  {% else %}
                    <span>( {{ starting_year_date }} )</span> 
                  {% endif %}
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row justify-content-end">
                
                    <div class="form-group col-3">
                        <label>Minimum date:</label>
            
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="date" id="min" name="min" class="form-control" required>
                        </div>
                    
                    </div>
        
                    <div class="form-group col-3">
                        <label>Maximum date:</label>
        
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="date" id="max" name="max" class="form-control" required>
                        </div>
                        
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-md btn-info float-left" style="margin-top: 36px;">Search</button>
                    </div>
                    
            </div>
        </form>
        <div id="loss-profit-section" class="mt-4">
            <div class="mb-5 text-center">
                {% if date_from_user %}
                <small class="font-weight-bold border-bottom">From: {{ starting_year_date }} </small>
                <small class="font-weight-bold border-bottom">To: {{ ending_year_date }} </small>
                {% else %}
                <span class="border-bottom">( {{ starting_year_date }} )</span> 
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold" style="border-right: 3px solid #ded4da">
                    <span class="float-right d-block">Subtotal</span><br>
                    <span class="float-right d-block">Total Discount</span><br>
                    <span class="float-right d-block">Total Other Fee</span><br>
                    <span class="float-right d-block">Total Sold Amount</span><br>
                    <span class="float-right d-block">Total Payable</span><br>
                    <span class="float-right d-block">Total Totat Purchase Amount</span><br>
                    <span class="float-right d-block">Total Expense</span><br>
                    <span class="float-right d-block">Total Debit</span><br>

                </div>
                <div class="col-6 font-weight-bold" style="border-left: 1px solid #ded4da">
                    <span class="float-left d-block">৳ {{ subtotal|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_discount|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_other_fee|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_sold_amount_with_discount|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_payable|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_cost_amount_on_product|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_expense|intcomma }} </span><br>
                    <span class="float-left d-block">৳ {{ total_debit|intcomma }} </span><br>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" role="group" aria-label="Basic example">
                <button class="js-download-profit-loss-btn btn btn-info">Download Pdf</button>
            </div>       
            <div class="col-sm-6" role="group" aria-label="Basic example">
                <button class="js-print-profit-loss-btn btn btn-info float-right">Print</button> 
            </div>      
        </div>
    </div>
</div>

{% endblock %}