<div class="pos-sale-accounting-section border border-2 rounded">
            
    <!----------- Start Selling Accounts section Header------------->
        <div class="row justify-content-center ">
            <div class="col-5 float-left">
                <form method="GET">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="customer-search" name="csearch" placeholder="Search Customer">
                    </div>
                </form>
                
            </div>
            <div class= mt-2 float-left">
                <span class="float-left">
                    <a href="#" class="text-info js-create-customer">
                        <i class="fas fa-lg fa-plus"></i>
                    </a>
                </span>
            </div>

            <div class="col-6 float-right">
                <input class="delivery-date-select form-control" type="date" id="calendar" name="calendar">
            </div>
        </div>
    <!----------- End Selling Accounts section Header------------->

    <!----------- Start Selling Accounts section Table------------->
        <div class="sale-accounting-table">
            <!--===== Table=====-->
            <div id="style-custom-narrow" class="row-raw table-body-top table-wrapper-scroll-y my-custom-scrollbar justify-content-center">
                <table class="table-sale-section" id="js-cart-table">
                    <div class="table-body">
                        <thead id="header-sale-section">
                            <tr id="heade">
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th class="icon-center-pos">Action</th>
                            </tr>
                        </thead>
                        <tbody id="show-cart">
                                <!-- Product item will be added automatically. This handled by jquery -->
                        </tbody>
                    </div>
                </table>
            </div>

            <div class="row-raw table-footer-for-sum">
                <table>
                    <div class="table-footer">
                        <thead>
                            <tr>
                                <th>Subtotal</th>
                                <th><span id="js-total-qty"> <!-- quantity --> 0</span></th>
                                <th class="subtotal-align-right"><span id="js-sub-total" ><!-- sub total -->0</span><span> TK</span></th>
                                <th class="float-right">
                                    <div class="payment-method-select">
                                        <select class="payment-method-selection btn-pos" id="standard-select">
                                            <option value="Cash">Cash</option>
                                            <option value="Mobile Banking">Mobile Banking</option>
                                            <option value="Card / Bank">Card / Bank</option>
                                        </select>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>Other Fee</td>
                                <td><span><input id="id_other_fee" class="input-amount" placeholder="00" type="text"> Tk</span></td>
                                <td>
                                    <label for="id_dis_checkbox">Discount %</label>
                                    <input type="checkbox" class="float-left form-check-input position-static" name="discount" id="id_dis_checkbox">
                                    <!-- <label for="id_dis_checkbox">Discount in %</label>
                                    <input class="form-check-input position-static" type="checkbox" name="" id="id_dis_checkbox"> -->
                                </td>
                                
                                <td><span><input id="id_discount" class="input-amount" placeholder="00" type="text"></span><span> Tk</span></td>
                            </tr>
                            
                            <tr>
                                <td>Total Pay</td>
                                <td><span id="id_total_payable">0</span><span> TK</span></td>
                                <td><span>Paid / Take</span></td>
                                <td><span><input id="id_paid_or_take" class="input-amount" placeholder="00" type="amount"></span><span> Tk</span></td>
                              </tr>
                              <tr>
                                <td>Due Amount</td>
                                <td><span id="id_due_amount">0</span><span> Tk</span></td>
                                <td>Return Amount</td>
                                <td><span id="id_return_amount">0</span> <span>Tk</span></td>
                              </tr>
                        </thead>
                    </div>
                </table>
            </div>
        </div>
        <!----------- End Selling Accounts section Table------------->

        <!----------- Start Payment Button Section------------->
        <div class="accounting-button">
            <input id="js-create-order" class="ui-button ui-widget ui-corner-all ui_font_size btn-pos" type="button" value="Place Order">
            <input id="js-walking-customer" class="ui-button ui-widget ui-corner-all ui_font_size btn-pos" type="button" value="Walking Customer">
            <input id="js-cash-payment" class="ui-button ui-widget ui-corner-all ui_font_size btn-pos" type="button" value="Payment">
        </div>
        <!----------- End Payment Button Section------------->





        <!-- Modal section  -->
        {% include 'products/modal/yes_no.html' %}
</div>




    <!----------- Start Selling Accounts section Header------------->
    <!-- <div class="sale-accounting-header">
        <div class="sale-accounting-header-content row">
            <div class="sale-accounting-header-content-left col-8">
                <i class="fas fa-user"></i>
                <!-- <form method="GET">
                    <input class="customer-search" type="search" id="customer-search" name="csearch" placeholder="Search Customer here....">
                </form> -->
                <!-- <i id="add-customer-js" class="fas fa-plus"></i>
            </div>
            <div class="sale-accounting-header-content-right col-4"> -->
                <!----------- Start elivary Date Calender------------->
<!-- 
                    <input class="delivery-date-select" type="date" id="calendar" name="calendar"> -->

                <!-----------End Delivary Date Calender------------->
            <!-- </div>
        </div>
    </div>  -->