/*===================*/
/*=====Basic Setup===*/
/*===================*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --bg-color:#11CDE3;
  --bg-color-dark:#0ba6b8;
  --bg-color-linier:rgba(17, 205, 227, 0.7), rgba(17, 205, 227, 0.7);
  --bg-gray: #eeeeee;
  --heading-color: #1DEEB0;
  --text-color: #6b6b6b;
  --header-height: 2.5rem;
  --nav-width: 59px;
  /*===== Font and typography =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  /*===== z index =====*/
  --z-fixed: 100;
  /*===== BASE =====*/
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'ROboto', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: .5s;
  transition: .5s;
}

ul li {
  list-style: none;
}

/*===================*/
/*=====NAV BAR ===*/
/*===================*/
a {
  text-decoration: none;
}

/*===== main content =====*/
.main-content {
  margin-top: 3rem;
  padding: 1rem;
}

.content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.title h2 {
  margin: 1rem 0;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 900;
  float: left;
  margin-left: 5rem;
}

.button-addproduct {
  float: right;
  vertical-align: middle;
  margin-top: 0.8rem;
  margin-right: 5rem;
}

.btn {
  background: var(--bg-color);
  color: var(--white-color);
  font-size: 1rem;
  width: max-content;
  padding: 0.5rem 1.5rem;
  margin: 1rem 5rem 1.1 rem auto;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:visited,
.btn:hover {
  background: var(--bg-color-dark);
  border: none;
}

.btn i {
  margin-right: 0.5rem;
}

/*===== Table======*/

/*========Table Start=============*/
table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 98%;
  height: 5rem;
  border-spacing: 1rem !important;
  border: 1px solid #bdc3c7;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
  height: 1rem;
  line-height: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th i,
td i {
  color: var(--bg-color);
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

th .drpbtn,
td .drpbtn {
  padding-right: 1.5rem;
}

#header {
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  color: var(--white-color);
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
  padding: 10px 0px;
}


@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*===== Action Dropdown======*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: -8.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.dropdown-content a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.dropdown-content a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drpbtn {
  background-color: #3e8e41;
}


/*===Modal Form===*/

#category-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content {
  background: var(--white-color);
  width: 50%;
  margin: 3.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
}

#modal-content .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content .modal-heading h3 {
  margin-top: 0;
  margin-left: ;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body {
  padding: 3.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-right: 8rem;
  margin-bottom: 0.5rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}

@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */