.prod-not-visible{
  display: none;
}
.ui-state-active, .ui-button:active, .ui-button.ui-state-active:hover{
  background: var(--bg-color);
  border: 1px solid #11cde3a3;
}
.ui_font_size{
  font-size: 1.4rem;
}
.ui-widget-header {
  background: var(--bg-color);
}
/* .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: red;
  font-weight: normal;
  color: #ffffff;
} */

/* DataTables customize */
#datatable_wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#datatable_wrapper .btn{
  background: var(--bg-color);
}
#datatable_wrapper .btn-secondary{
  background-color: var(--bg-color-dark);
  border-color: #0db0c2;
}
#datatable_length{
  display: inline;
  float: left;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
#datatable_filter{
  display: inline;
  float: right;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.dt-buttons{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.card-img-overlay {
  background-color: rgba(#000, 0.4);
}


