/*===================*/
/*=====Basic Setup===*/
/*===================*/
/*===== Bootstrap =====*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #ffffff;
  --bg-color:#11CDE3;
  --bg-color-dark:#0ba6b8;
  --bg-color-linier:rgba(17, 205, 227, 0.7), rgba(17, 205, 227, 0.7);
  --bg-gray: #eeeeee;
  --bg-gray-dark: #d1d0d0;
  --heading-color: #1DEEB0;
  --text-color: #6b6b6b;
  --header-height: 2.5rem;
  --nav-width: 59px;
  /*===== Font and typography =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  /*===== z index =====*/
  --z-fixed: 100;
  /*===== BASE =====*/
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
}

ul li {
  list-style: none;
}

button {
  line-height: initial !important;
}


/*===================*/
/*===== ===*/
/*===================*/
a {
  text-decoration: none;
}


.btn-pos {
  background: var(--bg-color-dark) !important;
  color: var(--white-color) !important;
  border: none;
  cursor: pointer;
  transition: 0.3s;
} 

.btn-pos:hover {
  background: var(--bg-color) !important;
  color: var(--white-color);
}

.btn i {
  margin-right: 0.5rem;
}



/*===== main content =====*/
.main-content {
  padding: 1rem;
  width: 100%;
}


.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0.5rem;
  position: relative;
  height: min-content;
  justify-content: space-between;
}


.title h2 {
  margin: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 900;
  float: left;
  font-size: 1.5rem;
  margin-right: 2rem;

}

.ellipsis-v {
  background: var(--bg-color);
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 0.4rem;
}



.conntent-heading {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.heading-items h4 {
  font-size: 1.2rem;
}


.button-add-customer {
  position: absolute;
  right: 3rem;
}

/*===== Export Dropdown======*/

.dropdown-export {
  position: relative;
  display: inline-block;
}

.dropdown-content-export {
  left: -1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  width: max-content;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-content-export a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  cursor: pointer;
}

.dropdown-content-export a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.dropdown-content-export a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.dropdown-export:hover .dropdown-content-export {
  display: block;
}

/*Select */

select {
  border: none;
  background-color: var(--bg-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white-color);
  font-size: 1rem;
  border-radius: 0.4rem;
  position: relative;
}

select-items {
  background-color: var(--bg-gray);
}

.select-items div:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.select-left {
  margin-right: 35rem;
}


.margin-right-zero {
  position: absolute;
  right: 2rem;
}


.table-row {
  margin-bottom: 4rem;
}

.link-white-color a {
  color: var(--white-color);
}





/*===Search bar css==========*/
.search-bar-top {
  min-width: 15rem;
  max-width: max-content;
  padding: 0.2rem;
  display: flex;
  border-radius: 2rem;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.4);
}

.search-bar-top i {
  font-size: 1.2rem;
  margin: 0.4rem 0.4rem 0.4rem 0.6rem;
}

.search-bar-top input {
  background: none;
  outline: none;
  border: none;
  padding: 0.1rem;
  color: var(--white-color);
}

.search-bar-top input::placeholder {
  color: var(--white-color);
  opacity: 1; /* Firefox */
}

.search-bar-top input::-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--white-color);
}

.search-bar-top input::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--white-color);
}

.col-raw a{
  text-decoration: none;
}

button:focus,
button:active,
button:visited{
  outline: none !important;
}

.bg-pos-color {
  background: var(--bg-color);
}

.pos-box-shadow-none {
  box-shadow: none !important;
}

.nav-item  .nav-link{
  color: #fff !important;
  font-weight: 600;
}


.main-sidebar a {
  color: #fff;
  font-size: 1.3rem;
  font-family:  'Roboto' Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif serif;
}


.active-nav-pos {
    width: 100%;
    color: var(--bg-color);
    background-color: var(--bg-color-dark);
}