{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card text-dark text-dark bg-light">
            <h3 class="card-header bg-info">General Settings</h3>
            <div class="card-body"">
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form.logo|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.company_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.owner|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form.address|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.phone1|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.phone2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.email1|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.email2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form.notification|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-md btn-info float-right" type="submit">Submit</button>
            </div>
           
        </div>
        
    </form>
</div>
{% endblock %}