{% extends 'base.html' %}
{% block content %}
<div class="card mt-5">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Stock Notification</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">S/L No.</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Total Remaining Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for item in notifications %}
                    <tr>
                        
                        <td class="text-center"> {{ forloop.counter }} </td>
                        <td class="text-center">  {{item.product.name|upper}} </td>
                        <td class="text-center">  <strong>{{ item.get_total_remaining_product }}</strong> </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center">S/L No.</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Total Remaining Qty</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}