{% extends 'base.html' %}
{% load static %}

{% block damage_product_report_datatable_js %} 
    <script src="{% static 'js/damage-product-report-datatable.js' %}"></script>
{% endblock damage_product_report_datatable_js %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Damage Product Report</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" id="min" name="min" class="form-control">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                <!-- /.input group -->
            </div>
        </div>


        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>SL No.</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Damage By</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Selling_price</th>
                    <th>Damage Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for item in damage_products %}
                    <tr>
                        
                        <td> {{forloop.counter}} </td>
                        <td>  {{ item.product.name|title}} </td>
                        <td>  {{ item.damaged_at }} </td>
                        <td>  {{ item.damaged_by }} </td>
                        <td>  {{ item.added_by }} </td>
                        <td>  {{ item.product.cost_price}} </td>
                        <td>  {{ item.product.selling_price }} </td>
                        <td>  {{ item.damage_qty }} </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>SL No.</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Damage By</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Selling_price</th>
                    <th>Damage Qty</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


{% endblock %}