{% extends 'base.html' %}
{% load static %}

{% block damage_product_datatable_js %} 
    <script src="{% static 'js/damage-product-datatable.js' %}"></script>
{% endblock damage_product_datatable_js %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Damage Products</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <button id="add-damage-product" class="btn btn-info">
                <i class="fas fa-plus"></i>
                Add Damage Product
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" id="min" name="min" class="form-control">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                <!-- /.input group -->
            </div>
        </div>


        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Product Image</th>
                    <th>Product</th>
                    <th>Product Code</th>
                    <th>Damage By</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Damage Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in damage_products %}
                    <tr>
                        
                        <td> #00{{item.id}} </td>
                        <td>  {{ item.created }} </td>
                        <td>  
                            <a href="{{item.product.product_pic.url}}" >
                                <img src="{{ item.product.product_pic.url }}" alt="" style="width: 80px; height: 20px; object-fit: contain;">
                            </a>
                        </td>
                        <td>  {{ item.product.name|title}} </td>
                        <td>  {{ item.product.product_code}} </td>
                        <td>  {{ item.damaged_by }} </td>
                        <td>  {{ item.added_by }} </td>
                        <td>  {{ item.product.cost_price}} </td>
                        <td>  {{ item.damage_qty }} </td>
                        <td>
                            <span class="js-delete-damage-product" data-damage_product_id="{{ item.id }}">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Product Image</th>
                    <th>Product</th>
                    <th>Product Code</th>
                    <th>Damage By</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Damage Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


{% include 'sales/damage-product-modal.html' %}
{% include 'sales/damage-product-delete.html' %}
{% endblock %}