{% load crispy_forms_tags %}
<div id="show-damage-product-modal" style="display: none;">
    <form action="{% url 'sales:add_damage_product' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>