{% extends 'base.html' %}
{% block content %}
<div class="card mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Orders History</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice Id</th>
                    <th>Customer Name</th>
                    <th>Total Qty</th>
                    <th>Total Cost Price</th>
                    <th>Total Sold Price</th>
                    <th>Discount</th>
                    <th>Other Fee</th>
                    <th>Payment Method</th>
                    <th>Selling Date</th>
                    <th>Delivery Date</th>
                    <th>Status</th>
                    <th>Sales Man</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pending_orders %}
                    <tr>
                        <td>  
                            <a href="{% url 'sales:sale_invoice' item.pk %}">
                                {{item.id}} 
                            </a>
                        </td>
                        <td>  {{item.customer.get_full_name}} </td>
                        <td>  {{item.get_total_qty}} </td>
                        <td>৳ {{ item.get_total_cost_price }} </td>
                        <td>৳ {{ item.get_total_sold_price }} </td>
                        <td>৳ {{ item.discount }} </td>
                        <td>৳ {{ item.other_fee }} </td>
                        <td>  {{ item.payment_method }} </td>
                        <td>  {{ item.selling_date }} </td>
                        <td>  {{ item.delivery_date }} </td>
                        {% if item.is_complete %}
                            <td><span class="badge badge-success">Delivered</span></td>
                        {% else %}
                            <td><span class="badge badge-warning">Pending</span></td>
                        {% endif %}
                        <td> {{item.sales_man.username|title}} </td>
                        
                        <td>
                            {% if item.is_complete == False  %}
                                    <!--===== Sale Modal  =====-->
                                <!-- update modal -->
                                <a href="{% url 'sales:update_sale' item.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                    
                                <span class="js-delete-sale" data-sale_id="{{ item.id }}">
                                    <i class="fas fa-trash"></i>
                                </span>
                            {% endif %}
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Invoice Id</th>
                    <th>Customer Name</th>
                    <th>Total Qty</th>
                    <th>Cost Price</th>
                    <th>Selling Price</th>
                    <th>Discount</th>
                    <th>Other Fee</th>
                    <th>Payment Method</th>
                    <th>Selling Date</th>
                    <th>Delivery Date</th>
                    <th>Status</th>
                    <th>Sales Man</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- sale delete modal -->
    {% include 'sales/sale-delete-modal.html' %}
</div>
{% endblock %}