{% extends 'base.html' %}
{% load static %}

{% block return_product_report_datatable_js %} 
    <script src="{% static 'js/return-product-report-datatable.js' %}"></script>
{% endblock return_product_report_datatable_js %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Return Product Report</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>SL No.</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Sold Price</th>
                    <th>Return Product Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for item in return_products %}
                    <tr>
                        <td>  {{forloop.counter}} </td>
                        <td>  {{item.product.name}} </td>
                        <td>  {{item.returned_at|date:"M d, Y"}} </td>
                        <td>  {{item.added_by}}</td>
                        <td>  {{item.get_purchase_price}}</td>
                        <td>  {{item.get_sold_price}} </td>
                        <td>  {{item.qty}} </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>SL No.</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Sold Price</th>
                    <th>Return Product Qty</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



{% endblock %}