{% extends 'base.html' %}
{% load static %}
{% block damage_product_datatable_js %} 
    <script src="{% static 'js/return-product-datatable.js' %}"></script>
{% endblock damage_product_datatable_js %}
{% block common_scripts %}
    <script src="{% static 'js/sales-scripts.js' %}"></script>
{% endblock common_scripts %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Customer Return Product History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button id="add-return-product" class="btn btn-info">
                <i class="fas fa-plus"></i>
                Add Customer Return Product
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Sold Price</th>
                    <th>Return Product Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in return_products %}
                    <tr>
                        <td>  #00{{item.id}} </td>
                        <td>  {{item.created|date:"M d, Y"}} </td>
                        <td>  {{ item.get_customer }}</td>
                        <td>  {{item.product.name}} </td>
                        <td>  {{item.added_by}}</td>
                        <td>  {{item.cost_price}}</td>
                        <td>  {{item.sold_price}} </td>
                        <td>  {{item.qty}} </td>
                        <td>                            
                            <span class="js-delete-return-product" data-return_product_id="{{ item.id }}">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Sold Price</th>
                    <th>Return Product Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
<!--add expense modal-->
{% include 'sales/return-product-modal.html' %}
{% include 'sales/return-product-delete-modal.html' %}
</div>
{% endblock %}