{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-5">
        <div class="card">
            <div class="card-header">
              Update Return Product
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary btn-lg float-right">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
