{% load crispy_forms_tags %}
<div id="show-return-product-modal" style="display: none;">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>