<div id="return-product-delete-modal-show" style="display: none;">
    <div class="row text-center">
        <div class="col-6">
            <button id="return_product_delete_no" class="ui-button ui-widget ui-corner-all">No</button>
        </div>
        <div class="col-6">
            <button id="return_product_delete_yes"  class="ui-button ui-widget ui-corner-all">Yes</button>
        </div>
    </div>
</div>