<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .invoice-POS{
    padding:2mm;
    margin: 0 auto;
    width: 8.5in;
    height: 5.5in;
    background: #FFF;
    display: flex;

}

.invoice-copy {
  padding: 1%;
  width: 50%;
}
    
    
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
  h1{
    font-size: 1.5em;
    color: #222;
    margin: 0;
  }
  h2{font-size: 0.4rem;}
  h3{
    font-size: 0.4rem;
    font-weight: 300;

  }
  p{
    font-size: 0.75rem;
    color: #666;
    margin: 0;
  }
   
  .top, .mid, .bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
  }
  
  .top{min-height: min-content;}
  .mid{min-height: min-content} 
  .bot{ min-height: min-content;}
  

  .info-head{
    display: block;
    margin-left: 0;
    position: relative;
  }
  .info{
    display: flex;
    position: relative;
    width: 100%;
    margin: 0.3rem 0 0.3rem 0;
  }

.info-left,
.info-right {
  width: 50%;
  }

.top-copy-declaration {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
}


  .title{
    float: right;
  }
  .title p{text-align: right;} 
  table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }
  td{
    padding: 0 0 0 5px;
    border: 1px solid rgb(207, 207, 207)
  }
.customer-note-table {
  margin: 1rem 0 1rem 0 ;
}

.table-footer td {
  width: 2rem;
}

.td_width {
  width: 1.8rem;
  font-size: 0.7rem;
}

.for-td-width {
  width: 0.4rem;
}

.table-top {
  min-height: 10rem;
}

.tabletitle td,
.service td {
  height: 0.9rem;
}

  .tabletitle{
    padding: 5px;
    background: #EEE;
    font-size: 0.7rem;
  }
  .service{border-bottom: 1px solid #EEE;}
  .item{width: 60%;}
  
  .legalcopy{
    margin-top: 5mm;
  }
  
  .tableitem{
    height: 0.2rem;
  }
  .legal {
    text-align: center;
  }
    </style>
</head>
<body>
    

<div class="invoice-POS">
  <!-- Customer Invoice  -->
  <div class="invoice-copy">
    <center class="top">
        <div class="info-head"> 
          <h1>{{company.company_name|upper}}</h1> <span class="top-copy-declaration">Office Invoice</span>
          <p> 
            {{ company.address }} <br>
            Email : {{ company.email1 }} {% if company.email2 %}, {{ company.email2 }} {% endif %}  <br> 
            Mobile: {{ company.phone1 }} {% if company.phone2 %}, {{ company.phone2 }} {% endif %} 
          </p>
        </div><!--End Info-->
      </center><!--End InvoiceTop-->
     
      <div class="mid">
        <div class="info">
            <div class="info-left">
                <p> 
                    Invoice ID : <span>#00{{ invoice.id }} </span></br>
                    Order Date : <span> {{ invoice.selling_date }} </span></br>
                    Delivery Date : <span> {{ invoice.delivery_date|date:"d M Y" }} </span></br>
                    Sales Man : <span> {{ invoice.added_by.username|title }} </span></br>						
                </p>
            </div>
            <div class="info-right">
                <p>
                    Payment Mathod : <span> {{ invoice.payment_method|upper }} </span></br>
                    Customer Name  : {% if invoice.customer %} <span> {{ invoice.customer.get_full_name }} </span>{% else %} <span>Walking Customer</span> {% endif %}</br>
                    Customer Phone  : <span> {{ invoice.customer.phone1 }}{% if invoice.customer.phone2 %}, {{ invoice.customer.phone2 }} {% endif %} </span></br>
        
                </p>
            </div>
        </div>
      </div><!--End Invoice Mid-->
      
      <div class="bot">
                      <div class="table-top">
                          <table>
                            <tr class="tabletitle">
                                <td class="item">Item</td>
                                <td class="Hours">Qty</td>
                                <td class="Hours">Rate (TK)</td>
                                <td class="Rate">Total (TK)</td>
                            </tr>
                            {% for item in sale_items %}
                            <tr class="service">
                                <td class="tableitem"><p class="itemtext">{{ item.product.name }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.quantity }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.sold_price }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.get_total_price }}</p></td>
                            </tr>
                            {% endfor %}
                          </table>
                      </div><!--End Table-->
                      <div class="table-footer">
                          <table>
                            <tr class="tabletitle">
                                <td class="Rate"> <strong>Subtotal</strong> </td>
                                <td class="Rate"> <strong></strong> </td>
                                <td class="Rate"></td>
                                <td class="payment"> <strong>{{ invoice.get_sub_total }}</strong> </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Others Fee</td>
                                <td class="Rate"> {{ invoice.other_fee }} </td>

                                <td class="Rate">Discount (Tk)</td>
                                <td class="payment"> {{ invoice.discount }} </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Total Payable</td>
                                <td class="Rate"> {{ invoice.get_total_payable }} </td>

                                <td class="Rate">Take Amount</td>
                                <td class="payment"> {{ invoice.take_amount }} </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Due Amount</td>
                                <td class="Rate">{{ invoice.due_amount }}</td>
                                
                                <td class="Rate">Return Amount</td>
                                <td class="payment"> {{ invoice.return_amount }} </td>
                            </tr>
                          </table>
                      </div>
                      <div class="customer-note-table">
                        <table>
                            <tr>
                              <th></th>
                              <th colspan="4">Right</th>
                              <th colspan="4">Left</th>
                          </tr>
                          <tr>
                              <td class="for-td-width"></td>
                              <td class="td_width">SPH</td>
                              <td class="td_width">CYL</td>
                              <td class="td_width">AXIS</td>
                              <td class="td_width">V/A</td>
                              <td class="td_width">SPH</td>
                              <td class="td_width">CYL</td>
                              <td class="td_width">AXIS</td>
                              <td class="td_width">V/A</td>
                          </tr>
                          
                          <tr>
                              <td class="for-td-width">Dis.</td>
                              {% if invoice.customer.rd_sph  %}
                                <td class="td_width">{{ invoice.customer.rd_sph }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}

                              {% if invoice.customer.rd_cyl  %}
                                <td class="td_width">{{ invoice.customer.rd_cyl }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                            
                              {% if invoice.customer.rd_axis  %}
                                <td class="td_width">{{ invoice.customer.rd_axis }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                                                          
                              {% if invoice.customer.rd_va  %}
                                <td class="td_width">{{ invoice.customer.rd_va }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                                                    
                              {% if invoice.customer.ld_sph  %}
                                <td class="td_width">{{ invoice.customer.ld_sph }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                                                                                  
                              {% if invoice.customer.ld_cyl  %}
                                <td class="td_width">{{ invoice.customer.ld_cyl }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                                                                                  
                              {% if invoice.customer.ld_axis  %}
                                <td class="td_width">{{ invoice.customer.ld_axis }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                                       
                              {% if invoice.customer.ld_va  %}
                                <td class="td_width">{{ invoice.customer.ld_va }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                          </tr>
                          <tr>
                            <td class="for-td-width">Near</td>
                                                         
                            {% if invoice.customer.rn_sph  %}
                              <td class="td_width">{{ invoice.customer.rn_sph }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}
                                                        
                            {% if invoice.customer.rn_cyl  %}
                              <td class="td_width">{{ invoice.customer.rn_cyl }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}
                                             
                            {% if invoice.customer.rn_axis  %}
                              <td class="td_width">{{ invoice.customer.rn_axis }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}
                                     
                            {% if invoice.customer.rn_va  %}
                              <td class="td_width">{{ invoice.customer.rn_va }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}
                               
                            {% if invoice.customer.ln_sph  %}
                              <td class="td_width">{{ invoice.customer.ln_sph }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}

                            {% if invoice.customer.ln_cyl  %}
                              <td class="td_width">{{ invoice.customer.ln_cyl }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}

                            
                            {% if invoice.customer.ln_axis  %}
                              <td class="td_width">{{ invoice.customer.ln_axis }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}


                            {% if invoice.customer.ln_va  %}
                              <td class="td_width">{{ invoice.customer.ln_va }}</td>
                            {% else %}
                              <td class="td_width"></td>
                            {% endif %}
                            
                        </tr>
                        <tr>
                            <td class="for-td-width">Add....</td>
                            {% if invoice.customer.adi_right  %}
                              <td colspan="4">{{ invoice.customer.adi_right }}</td>
                            {% else %}
                              <td colspan="4"></td>
                            {% endif %}

                            {% if invoice.customer.adi_left  %}
                              <td colspan="3">{{ invoice.customer.adi_left }}</td>
                            {% else %}
                              <td colspan="3"></td>
                            {% endif %}
                            <td class="for-td-width">mm</td>
                        </tr>
                        </table>
                    </div>
  
                      <div id="legalcopy">
                          <p class="legal"><strong>Thank you for your business!</strong> <br>
                            IT Supported By XoftNology
                          </p>
                      </div>
  
      </div><!--End InvoiceBot-->
  </div>




  <!-- Office Invoice  -->
  <div class="invoice-copy">
    <center class="top">
        <div class="info-head"> 
          <h1>{{company.company_name|upper}}</h1> <span class="top-copy-declaration">Customer Invoice</span>
          <p> 
            {{ company.address }} <br>
            Email : {{ company.email1 }} {% if company.email2 %}, {{ company.email2 }} {% endif %}  <br> 
            Mobile: {{ company.phone1 }} {% if company.phone2 %}, {{ company.phone2 }} {% endif %} 
          </p>
        </div><!--End Info-->
      </center><!--End InvoiceTop-->
      
      <div class="mid">
        <div class="info">
            <div class="info-left">
                <p> 
                    Invoice ID : <span>#00{{ invoice.id }} </span></br>
                    Order Date : <span> {{ invoice.selling_date }} </span></br>
                    Delivery Date : <span> {{ invoice.delivery_date|date:"d M Y" }} </span></br>
                    Sales Man : <span> {{ invoice.added_by.username|title }} </span></br>						
                </p>
            </div>
            <div class="info-right">
                <p>
                    Payment Mathod : <span> {{ invoice.payment_method|upper }} </span></br>
                    Customer Name  : {% if invoice.customer %} <span> {{ invoice.customer.get_full_name }} </span>{% else %} <span>Walking Customer</span> {% endif %}</br>
                    Customer Phone  : <span> {{ invoice.customer.phone1 }}{% if invoice.customer.phone2 %}, {{ invoice.customer.phone2 }} {% endif %} </span></br>
        
                </p>
            </div>
        </div>
      </div><!--End Invoice Mid-->
      
      <div class="bot">
                      <div class="table-top">
                          <table>
                            <tr class="tabletitle">
                                <td class="item">Item</td>
                                <td class="Hours">Qty</td>
                                <td class="Hours">Rate (TK)</td>
                                <td class="Rate">Total (TK)</td>
                            </tr>
                            {% for item in sale_items %}
                            <tr class="service">
                                <td class="tableitem"><p class="itemtext">{{ item.product.name }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.quantity }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.sold_price }}</p></td>
                                <td class="tableitem"><p class="itemtext">{{ item.get_total_price }}</p></td>
                            </tr>
                            {% endfor %}
                          </table>
                      </div><!--End Table-->
                      <div class="table-footer">
                          <table>
                            <tr class="tabletitle">
                                <td class="Rate"> <strong>Subtotal</strong> </td>
                                <td class="Rate"> <strong></strong> </td>
                                <td class="Rate"></td>
                                <td class="payment"> <strong>{{ invoice.get_sub_total }}</strong> </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Others Fee</td>
                                <td class="Rate"> {{ invoice.other_fee }} </td>

                                <td class="Rate">Discount (Tk)</td>
                                <td class="payment"> {{ invoice.discount }} </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Total Payable</td>
                                <td class="Rate"> {{ invoice.get_total_payable }} </td>

                                <td class="Rate">Take Amount</td>
                                <td class="payment"> {{ invoice.take_amount }} </td>
                            </tr>
                            <tr class="tabletitle">
                                <td class="Rate">Due Amount</td>
                                <td class="Rate">{{ invoice.due_amount }}</td>
                                
                                <td class="Rate">Return Amount</td>
                                <td class="payment"> {{ invoice.return_amount }} </td>
                            </tr>
                          </table>
                      </div>
                      <div class="customer-note-table">
                          <table>
                              <tr>
                                  <th></th>
                                  <th colspan="4">Right</th>
                                  <th colspan="4">Left</th>
                              </tr>
                              <tr>
                                  <td class="for-td-width"></td>
                                  <td class="td_width">SPH</td>
                                  <td class="td_width">CYL</td>
                                  <td class="td_width">AXIS</td>
                                  <td class="td_width">V/A</td>
                                  <td class="td_width">SPH</td>
                                  <td class="td_width">CYL</td>
                                  <td class="td_width">AXIS</td>
                                  <td class="td_width">V/A</td>
                              </tr>
                              
                            
                              <tr>
                                <td class="for-td-width">Dis.</td>
                                {% if invoice.customer.rd_sph  %}
                                  <td class="td_width">{{ invoice.customer.rd_sph }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}

                                {% if invoice.customer.rd_cyl  %}
                                  <td class="td_width">{{ invoice.customer.rd_cyl }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                              
                                {% if invoice.customer.rd_axis  %}
                                  <td class="td_width">{{ invoice.customer.rd_axis }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                                                            
                                {% if invoice.customer.rd_va  %}
                                  <td class="td_width">{{ invoice.customer.rd_va }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                                                      
                                {% if invoice.customer.ld_sph  %}
                                  <td class="td_width">{{ invoice.customer.ld_sph }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                                                                                    
                                {% if invoice.customer.ld_cyl  %}
                                  <td class="td_width">{{ invoice.customer.ld_cyl }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                                                                                    
                                {% if invoice.customer.ld_axis  %}
                                  <td class="td_width">{{ invoice.customer.ld_axis }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                                                                        
                                {% if invoice.customer.ld_va  %}
                                  <td class="td_width">{{ invoice.customer.ld_va }}</td>
                                {% else %}
                                  <td class="td_width"></td>
                                {% endif %}
                            </tr>
                            <tr>
                              <td class="for-td-width">Near</td>
                                                          
                              {% if invoice.customer.rn_sph  %}
                                <td class="td_width">{{ invoice.customer.rn_sph }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                                          
                              {% if invoice.customer.rn_cyl  %}
                                <td class="td_width">{{ invoice.customer.rn_cyl }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                              
                              {% if invoice.customer.rn_axis  %}
                                <td class="td_width">{{ invoice.customer.rn_axis }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                      
                              {% if invoice.customer.rn_va  %}
                                <td class="td_width">{{ invoice.customer.rn_va }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                                
                              {% if invoice.customer.ln_sph  %}
                                <td class="td_width">{{ invoice.customer.ln_sph }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}

                              {% if invoice.customer.ln_cyl  %}
                                <td class="td_width">{{ invoice.customer.ln_cyl }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}

                              
                              {% if invoice.customer.ln_axis  %}
                                <td class="td_width">{{ invoice.customer.ln_axis }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}


                              {% if invoice.customer.ln_va  %}
                                <td class="td_width">{{ invoice.customer.ln_va }}</td>
                              {% else %}
                                <td class="td_width"></td>
                              {% endif %}
                              
                          </tr>
                          <tr>
                              <td class="for-td-width">Add....</td>
                              {% if invoice.customer.adi_right  %}
                                <td colspan="4">{{ invoice.customer.adi_right }}</td>
                              {% else %}
                                <td colspan="4"></td>
                              {% endif %}

                              {% if invoice.customer.adi_left  %}
                                <td colspan="3">{{ invoice.customer.adi_left }}</td>
                              {% else %}
                                <td colspan="3"></td>
                              {% endif %}
                              <td class="for-td-width">mm</td>
                          </tr>
                        </table>
                      </div>
  
                      <div id="legalcopy">
                          <p class="legal"><strong>Thank you for your business!</strong> <br>
                            IT Supported By XoftNology
                          </p>
                      </div>
  
      </div><!--End InvoiceBot-->
  </div>
</div><!--End Invoice-->




<script>
  window.addEventListener("load", window.print());
</script>
</body>
</html>
