{% extends 'base.html' %}
{% load static %}

{% block sold_report_datatable_js %} 
    <script src="{% static 'js/sold-report-datatable.js' %}"></script>
{% endblock sold_report_datatable_js %}
{% block content %}
    <div class="card">
        <div class="p-4">
            <div class="row">
                <div class="col-sm-6">
                    <span class="display-4">Sold Report</span>
                </div>
                <div class="col-sm-6 printbar  text-right">
                    <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="form-group col-3">
                    <label>Minimum date:</label>
        
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" id="min" name="min" class="form-control">
                    </div>
                   
                </div>

                <div class="form-group col-3">
                    <label>Maximum date:</label>

                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" id="max" name="max" class="form-control">
                    </div>
                    
                </div>
            </div>


            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Invoice Id</th>
                        <th>Customer Name</th>
                        <th>Payment Method</th>
                        <th>Selling Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                        <th>Sales By</th>
                        <th>Delivered By</th>
                        <th>Total Qty</th>
                        <th>Total Cost Price</th>
                        <th>Total Sold Price</th>
                        <th>Discount</th>
                        <th>Other Fee</th>
                        <th>Total Payable</th>
                        <th>Paid Amount</th>
                        <th>Due Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sales %}
                        <tr>
                            
                            <td class="text-center">  
                                <a href="{% url 'sales:sale_invoice' item.pk %}">
                                    {{item.id}} 
                                </a>
                            </td>
                            <td>  {{item.customer.get_full_name}} </td>
                            <td>  {{ item.payment_method }} </td>
                            <td>  {{ item.selling_date|date:"M d, Y" }} </td>
                            <td>  {{ item.delivery_date|date:"M d, Y" }} </td>
                            {% if item.is_complete %}
                                <td><span class="badge badge-success">Delivered</span></td>
                            {% else %}
                                <td><span class="badge badge-warning">Pending</span></td>
                            {% endif %}
                            <td>  {{ item.added_by.username|title }} </td>
                            <td>  {{ item.edited_by.username|title }} </td>
                            <td>  {{ item.get_total_qty }} </td>
                            <td>  {{ item.get_total_cost_price }} </td>
                            <td>  {{ item.get_total_sold_price }} </td>
                            <td>  {{ item.get_discount }} </td>
                            <td>  {{ item.other_fee }} </td>
                            <td>  {{ item.get_total_payable }} </td>
                            <td>  {{ item.take_amount }} </td>
                            <td>  {{ item.due_amount }} </td>
                            
                        </tr>

                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Invoice Id</th>
                        <th>Customer Name</th>
                        <th>Payment Method</th>
                        <th>Selling Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                        <th>Sales Man</th>
                        <th>Delivered By</th>
                        <th>Total Qty</th>
                        <th>Total Cost Price</th>
                        <th>Total Sold Price</th>
                        <th>Discount</th>
                        <th>Other Fee</th>
                        <th>Total Payable</th>
                        <th>Paid Amount</th>
                        <th>Due Amount</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>


{% endblock %}