{% load crispy_forms_tags %}
<div id="add-supplier-payment-modal-show" style="display: none;">
    <form action="{% url 'accounts:add_supplier_payment' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>