{% load crispy_forms_tags %}
<div id="add-credit-modal-show" style="display: none;">
    <form action="{% url 'accounts:add_credit' %}" method="POST">
        {% csrf_token %}
        {{creditForm|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>