{% extends 'base.html' %}
{% load static %}
{% block datatable_js_script %} 
<script src="{% static 'js/cash-flow-datatable.js' %}"></script>
{% endblock datatable_js_script %}
{% block content %}
<div class="card mt-5">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Transaction History</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" id="min" name="min" class="form-control">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                <!-- /.input group -->
            </div>
        </div>


        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-center">Id</th>
                    <th>Credit Method</th>
                    <th>Description</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Current Credit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in objects %}
                    <tr>
                        <td>  {{item.created|date:"M d, Y"}} </td>
                        <td class="text-center"> {{item.id}} </td>
                        <td>  {{ item.credit_method }} </td>
                        <td> 
                            {% for key, value in item.description.items %}
                                {% if value %}
                                    <div>
                                        <strong>{{ key|upper }}:</strong>  {{ value|title }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if item.is_debit == False %}
                            <td>  {{ item.amount }} </td>
                        {% else %}
                            <td class="text-center">-</td>
                        {% endif %}
                        {% if item.is_debit %}
                            <td>  {{ item.amount }} </td>
                        {% else %}
                            <td class="text-center">-</td>  
                        {% endif %}
                        <!-- <td>  {{ item.delivery_date|date:"M d, Y" }} </td> -->
                        <td>{{ item.remaining_credit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Date</th>
                    <th class="text-center">Id</th>
                    <th>Credit Method</th>
                    <th>Description</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Current Credit</th>
                </tr>
            </tfoot>
        </table>
		<nav aria-label="Page navigation example">
			{% if objects.has_other_pages %}
				<ul class="pagination justify-content-center">
				{% if objects.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ objects.previous_page_number }}" tabindex="-1">Previous</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
				{% endif %}
				{% for i in objects.paginator.page_range %}
					{% if objects.number == i %}
						<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if objects.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ objects.next_page_number }}">Next</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="?page={{ objects.next_page_number }}">Next</a>
				</li>
				{% endif %}
		
		
				</ul>
			{% endif %}
		</nav>
    </div>
</div>


{% endblock %}