{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div class="card">
    
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ cash.total_amount }} BDT</h3>
        
                  <p>CASH</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ bank.total_amount }} BDT</h3>
        
                  <p>BANK</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ mobile_banking.total_amount }} BDT</h3>
                  
        
                  <p>MOBILE BANKING</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
        </div>
    </div>


    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Statement</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="id_statement" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Created at</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Adding Credit To</th>
                    <th>Withdraw From</th>
                    <th>Transfer From</th>
                    <th>Transfer To</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statements %}
                    <tr>
                        <td>  #00{{ item.statement_id }} </td>
                        <td>  {{ item.date }} </td>
                        <td>  {{ item.title }} </td>
                        <td>  {{ item.description }} </td>
                        <td>  {{ item.credit_to }} </td>
                        <td>  {{ item.withdraw_from }} </td>
                        <td>  {{ item.transfer_from|upper }}</td>
                        <td>  {{ item.transfer_to|upper }}</td>
                        <td>  {{ item.amount|intcomma }} </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Transaction Id</th>
                    <th>Created at</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Adding Credit To</th>
                    <th>Withdraw From</th>
                    <th>Transfer From</th>
                    <th>Transfer To</th>
                    <th>Amount</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}