{% load crispy_forms_tags %}
<div id="transfer-credit-modal-show" style="display: none;">
    <form action="{% url 'accounts:transfer_credit' %}" method="POST">
        {% csrf_token %}
        {{creditTransferForm|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>