{% load crispy_forms_tags %}
<div id="withdraw-modal-show" style="display: none;">
    <form action="{% url 'accounts:withdraw_credit' %}" method="POST">
        {% csrf_token %}
        {{withdrawForm|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>