{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block modal_scripts %}
<script src="{% static 'js/accounts-modals.js' %}"></script>
{% endblock modal_scripts %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Credit History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button id="withdraw-credit"  class="btn btn-info">
                <i class="fas fa-plus"></i>
                Withdraw Credit
            </button>
        </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Created at</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Withdraw From</th>
                    <th>Amount</th>
                    <th>Updated at</th>
                    <th>Added By</th>
                    <th>Edited By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in withdraw_credit %}
                    <tr>
                        <td>  #00{{ item.id }} </td>
                        <td>  {{ item.created }} </td>
                        <td>  {{ item.title }} </td>
                        <td>  {{ item.description }} </td>
                        <td>  {{ item.withdraw_from|upper }}</td>
                        <td>  {{ item.amount|intcomma }} </td>
                        <td>  {{ item.edited }} </td>
                        <td>  {{ item.added_by }} </td>
                        <td>  {{ item.edited_by }} </td>
                        <td>
                            <a href="">
                                <i class="fas fa-edit"></i>
                            </a>
                                
                            
                            <span class="js-delete-customer" data-customer_id="{{ customer.id }}">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Transaction Id</th>
                    <th>Created at</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Withdraw From</th>
                    <th>Amount</th>
                    <th>Updated at</th>
                    <th>Added By</th>
                    <th>Edited By</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% include 'accounts/withdraw-credit-modal.html' %}
</div>

{% endblock %}
