{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block modal_scripts %}
<script src="{% static 'js/supplier-modals.js' %}"></script>
{% endblock modal_scripts %}
    
{% block common_scripts %} 
<script src="{% static 'js/purchase-scripts.js' %}"></script>
{% endblock common_scripts %}
<!-- {% block create_product %}
<script src="{% static 'js/create-product.js' %}"></script>
{% endblock create_product %} -->


{% block content %}
    <div class="container">
        {% if not formSet %}
            <form action="" method="GET">
                <div>
                    <div class="justify-content-center row">
                        <div class="title col-sm-5">
                            <h1 class="display-5">How many orders do you want to purchase under one Supplier?</h1>
                        </div>
                    </div>
                    <div class="justify-content-center row">
                        <div class=" col-sm-5 form-group">
                            <label for="order-no">Enter the number:</label>
                            <input type="number" class="form-control" id="order-no" value="" name="order_no" required>
                            <button type="submit" class="btn btn-info btn-info float-right">Send request</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}

        {% if formSet and sForm %}
            <div class="card mb-3">
                <div class="card-body border border-danger">
                <p class="card-text">
                    <strong>Warning!</strong>
                    Before filling Purchase Form, 
                    You have to add Product if the Product does not exist 
                    and you have to add Supplier if the Supplier does not exist.
                </p>
                </div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{formSet.management_form}}
                <div class="card text-dark bg-light">
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="btn btn-md btn-info text-white float left js-create-product">
                                <i class="fas fa-plus"></i>
                                Add New Product
                            </a>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="justify-content-center form-group">
                                {{ sForm|crispy }}
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <a id="create-supplier" class="btn btn-md text-white float-right btn-info">
                                <i class="fas fa-plus"></i>
                                Add New Supplier
                            </a>
                        </div>
                        
                    </div>
                </div>
            

                {% for form in formSet %}
                <div class="card text-dark text-dark bg-light">
                    <h3 class="text-center"><span class="badge badge-info">{{ forloop.counter }}</span></h3>
                    <div class="card-body"">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                {{ form.product|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-3">
                                {{ form.brand|as_crispy_field }}
                            </div>
                            <div class="form-group js-cost-price col-sm-3">
                                {{ form.cost_price|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-3">
                                {{ form.selling_price|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3 js-product-qty">
                                {{ form.qty|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-3">
                                {{ form.discount|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-3">
                                {{ form.is_discount_in_parcentage|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-3">
                                {{ form.purchase_by|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                <!-- spinner -->
                <div  class="d-flex justify-content-center">
                    <div id="purchase-sipnner" class="spinner-border d-none  text-info" role="status">
                        <span class="sr-only "></span>
                    </div>
                </div>

                <div id="final-payment">
                    <!-- Here will be added payment  automatically -->
                </div>

                <div id="card-footer" class="card-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a  class="btn btn-sm btn-info btn-block float-left text-white" id="js-generate-total-purchase-price">
                                Generate Final Payment
                                <!-- Generate Total Purchase Price -->
                            </a>
                        </div>
                        <div id="purchase-submit-btn" class="col-sm-6">
                            <!-- Submit button will automatically added here -->
                        </div>
                    </div>
                </div>

            </form>
        {% endif %}
    </div>
    {% include 'suppliers/add-supplier-modal.html' %}
    {% include 'products/add-product-modal.html' %}
{% endblock %}


