<div id="delete-purchase-return-show" style="display: none;">
    {% csrf_token %}
    <div class="row text-center">
        <div class="col-6">
            <button id="delete_purchase_return_no" class="ui-button ui-widget ui-corner-all">No</button>
        </div>
        <div class="col-6">
            <button id="delete_purchase_return_yes"  class="ui-button ui-widget ui-corner-all">Yes</button>
        </div>
    </div>
</div>