{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h2 class="page-header">
          {{ site_title }}.
          <small class="float-right">Date: {{supplier.created|date:"M d, Y"}} </small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        From
        <address>
          <strong> {{supplier.supplier.first_name}} {{supplier.supplier.last_name}} </strong><br>
          Address-1: {{supplier.supplier.address1}} <br>
          Address-2: {{supplier.supplier.address2}} <br>
          Phone-1: {{supplier.supplier.phone1}} <br>
          Phone-2: {{supplier.supplier.phone2}} <br>
          Email: {{supplier.supplier.email}}
        </address>
      </div>
      <!-- /.col -->
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Invoice #00{{invoice.id}}</b><br>
        <br>
        <b>Payment Due:</b> {% if invoice.get_total_due_amount %} {{ invoice.get_total_due_amount }} {% endif %}<br>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Product id #</th>
            <th>Product</th>
            <th>Cost Price</th>
            <th>Qty</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          {% for item in details %}
          <tr>
            <td> {{item.product.id}}  </td>
            <td> {{item.product.name}} </td>
            <td> {{item.cost_price}} </td>
            <td> {{item.qty}} </td>
            <td> {{item.get_total_price}} </td>
          </tr>
         {% endfor %}
          </tbody>
          <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th>{{ invoice.get_total_purchase_amount }}</th>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- ./wrapper -->
<!-- Page specific script -->
<script>
  window.addEventListener("load", window.print());
</script>

{% endblock %}

  <!-- <script>
    window.addEventListener("load", window.print());
    // window.onload = function () {
    //     window.print();
    // }
  </script> -->