{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block purchase_report_datatable_js %} 
    <script src="{% static 'js/purchase-report-datatable.js' %}"></script>
{% endblock purchase_report_datatable_js %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Purchase Report</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice Id</th>
                    <th>Purchase Date</th>
                    <th>Supplier Name</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Total Purchase Price</th>
                    <th>Total Qty</th>
                    <th>Added By</th>
                </tr>
            </thead>
            <tbody>
                {% for item in invoices %}
                    <tr>
                        
                        <td>  
                            <a href="{% url 'purchases:purchase_invoice_details' item.id %}">{{ item.id }}</a> 
                        </td>
                        <td>  {{ item.created|date:"M d, Y" }} </td>
                        <td>  {{ item.get_supplier}} </td>
                        <td>  {{ item.get_supplier_phone1 }} </td>
                        <td>  {{ item.get_supplier_phone2 }} </td>
                        <td>  {{ item.get_supplier_email }} </td>
                        <td>  {{ item.get_supplier_address1 }} </td>
                        <td>  {{ item.get_total_price }} </td>
                        <td>  {{ item.get_total_qty }} </td>
                        <td>  {{ item.get_sales_man }} </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Invoice Id</th>
                    <th>Purchase Date</th>
                    <th>Supplier Name</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Total Purchase Price</th>
                    <th>Total Qty</th>
                    <th>Added By</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
