{% extends 'base.html' %}
{% load static %}
{% block datatable_js_script %} 
    <script src="{% static 'js/return-purchase-product-datatable.js' %}"></script>
{% endblock datatable_js_script %}
    
{% block common_scripts %} 
    <script src="{% static 'js/purchase-scripts.js' %}"></script>
{% endblock common_scripts %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-7 ">
                <span class="display-4">Return Purchase Product History</span>
            </div>
            
            <div class="col-sm-5 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button id="add-return-purchase-product" class="btn btn-info">
                <i class="fas fa-plus"></i>
                Add Return Purchase Product
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Purchase Invoice Id</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Return Product Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in return_purchase_products %}
                    <tr>
                        <td>  {{item.purchase_invoice.id}} </td>
                        <td>  {{item.product.name}} </td>
                        <td>  {{item.returned_at|date:"M d, Y"}} </td>
                        <td>  {{item.added_by}}</td>
                        <td>  {{item.get_purchase_price}}</td>
                        <td>  {{item.qty}} </td>
                        <td>                            
                            <span class="js-delete-purchase-return" data-purchase_return_id="{{ item.id }}">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Purchase Invoice Id</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Added By</th>
                    <th>Purchase Price</th>
                    <th>Return Product Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
<!--add expense modal-->
{% include 'purchases/return-purchase-product-modal.html' %}
<!--delete-purchase-return-modal-->
{% include 'purchases/delete-purchase-return-modal.html' %}
</div>
{% endblock %}