{% load crispy_forms_tags %}
<div id="show-return-purchase-product-modal" style="display: none;">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-12" style="width: -webkit-fill-available;">
                {{form.purchase_invoice|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                {{form.product|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                {{form.qty|as_crispy_field}}
            </div>
        </div>
        
        
        
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>