
body {
  font-family: 'ROboto', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: .5s;
  transition: .5s;
}

ul li {
  list-style: none;
}

/*===================*/
/*=====NAV BAR ===*/
/*===================*/
a {
  text-decoration: none;
}


/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--bg-color);
  z-index: var(--z-fixed);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.noti-nav {
  position: relative;
  height: 2.3rem;
  min-width: 15rem;
  max-width: max-content;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noti-nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noti-nav li .noti__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bell,
.fa-bell {
  margin-right: 0.4rem;
  position: relative;
  cursor: pointer;
}

.bell .bagde,
.noti-nav span {
  text-align: center;
  font-size: 0.9rem;
  background-color: #E30C0C;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  color: var(--white-color);
  margin-top: -.4rem;
  padding: 0.01rem;

}

.notification-dropdown-content li {
  display: table-column;
}

.notification-dropdown-content {
  float: left;
  right: -1rem;
  margin-top: 0.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  z-index: 1;
}

.dropdown:hover .notification-dropdown-content {
  display: block;
}

.fa-bell {
  color: var(--white-color);
}

.noti-nav li i {
  color: var(--white-color);
}

.noti-nav li span {
  color: var(--white-color);
}

.noti-nav li img {
  margin-top: 0.1rem;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
}

.noti-nav li a {
  display: flex;
  color: var(--white-color);
}

.noti-nav li a i {
  font-size: 1.3rem;
  color: var(--white-color);
}

.noti-nav li .user-name {
  color: var(--white-color);
  font-size: 1rem;
  margin-left: 0.6rem;
}

.fa-chevron-down {
  border: 0.1rem solid var(--white-color);
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

/*===== Action Dropdown======*/
.dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-content {
  float: left;
  right: -1rem;
  margin-top: 0.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  z-index: 1;
}

.header-dropdown-content i {
  color: var(--bg-color);
  padding-right: 0.5rem;
}


.header-dropdown-content a {
  color: black;
  padding: 0.5rem 1.5rem  0.5rem  1rem;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.header-dropdown-content a:hover {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.dropdown:hover .header-dropdown-content {
  display: block;
}



/* sdfhas kdhfksadhkf*/
/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--bg-color);
  padding: .5rem 0 0 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  max-height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.company-logo img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-left: 4rem;
  margin-top: 2rem;
}

.nav__logo, .nav__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: 700;
  font-size: 1.1rem;
  max-width: min-content;
  text-align: center;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  margin-bottom: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: var(--bg-color);
  background-color: var(--white-color);
}

.nav__icon {
  font-size: 1.25rem;
  padding: 0 0.2rem 0 0;
}

.nav__name {
  padding-left: 0.5rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
  width: 100%;
  color: var(--bg-color);
  background-color: var(--white-color);
}

/*
.active::before{
  content: '';
  position: absolute;
  left: 0;
  color: var(--bg-color);
  width: 100%;
  height: 32px;
  background-color: var(--white-color);
}*/
select {
  border: none;
  background-color: var(--bg-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white-color);
  font-size: 1rem;
  border-radius: .4rem;
  position: relative;
  overflow: hidden;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 1rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header__img {
    width: 40px;
    height: 40px;
  }
  .header__img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 0 0 0;
  }
  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/*# sourceMappingURL=style.css.map */