

/*===== main content =====*/
.main-content {
  margin-top: 3rem;
  padding: 1rem;
}


.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0.5rem;
  position: relative;
  height: min-content;
  justify-content: space-between;
}

.title h2 {
  margin: 0.5rem 0;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 900;
  float: left;
  margin-left: 5rem;
}

.sweitch-button {
  padding: 0.2rem;
  display: flex;
}

.sweitch-button i {
  font-size: 1.5rem;
  padding: 0.2rem;
  color: #dbdbdb;
  cursor: pointer;
}

.sweitch-button .active {
  color: var(--bg-color);
}

.button-add-customer {
  float: right;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  right: 0;
}

.box {
  position: relative;
  height: 11rem;
  width: 11rem;
  cursor: pointer;
  background-color: #f1eded;
  padding: .5rem;
  overflow: hidden;
  color: var(--black-color);
  border-radius: 0.6rem;
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: "Roboto Slab";
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 60%);
}

.box .fa-ellipsis-v {
  padding: 0.5rem;
  transition: 0.3s;
  font-weight: 900;
  float: right;
  margin-right: 0;
}

.fa-ellipsis-v i {
  left: 6.5rem;
  font-weight: 200 !important;
}
.customer-dropdown-icon {
  font-size: 0.7rem;
}

.customer-img {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
}

.box h4 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 1rem;
  margin: 0.1rem;
}

.box h5 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0.1rem;
  font-style: italic;
}


.box h6 {
  margin: 0.1rem;
  font-family: 'Roboto Slab';
  font-weight: 200;
  font-size: 0.9rem;
}



/*===== Action Dropdown======*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: -5.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  width: max-content;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.dropdown-content a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.dropdown-content a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:visited .dropdown-content {
  display: block;
}

.dropdown:hover .drpbtn {
  background-color: #3e8e41;
}



/*===Modal Form===*/
/*===Modal Form===*/

#modal-customer-js {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content-customer-js {
  background: var(--white-color);
  width: 50%;
  margin: 4.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
  scroll-behavior: smooth;
  height: max-content;
}

#modal-content-customer-js .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content-customer-js .modal-heading h3 {
  margin-top: 0;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content-customer-js .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body-event {
  padding: 2.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1.3rem;

}

.group-flex {
  display: flex;
}

.form-group label {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

}

.last-name {
  margin-left: 14.2rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border: 0.001rem solid rgb(204, 204, 204);
  border-radius: 0.5rem;
}

.for-right-margin {
  margin-right: 1rem;
}
.for-margin{
  width: max-content;
  float: right;
}



.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  margin-top: -0.8rem;
  outline: none;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}

@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */