

.box {
  position: relative;
  height: 20rem;
  width: 20rem;
  cursor: pointer;
  background: linear-gradient(rgba(17, 205, 227, 0.6), rgba(17, 205, 227, 0.6)), url(/ProductCat/assets/img/bg.jpg);
  background-position: center center;
  background-color: #11CDE3;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  overflow: hidden;
  color: var(--white-color);
  border-radius: 0.6rem;
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.box .fa-ellipsis-v {
  padding: 0.5rem;
  transition: 0.3s;
}

.box i {
  left: 7.5rem;
}

.box h3 {
  margin-top: 0.5rem;
  color: var(--white-color);
  font-size: 3.2rem;
}

.box h5 {
  font-size: 1rem;
}



.fa-plus {
  font-size: 4rem;
  margin-top: 3rem;
}

/*===== Action Dropdown======*/
.product-cat-dropdown {
  position: relative;
  display: inline-block;
}

.product-cat-dropdown-content {
  left: -8.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

.product-cat-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.product-cat-dropdown-content a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.product-cat-dropdown-content a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.product-cat-dropdown:hover .product-cat-dropdown-content {
  display: block;
}



/*===Modal Form===*/

#category-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content {
  background: var(--white-color);
  width: 50%;
  margin: 4.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
}

#modal-content .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content .modal-heading h3 {
  margin-top: 0;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body-event {
  padding: 3.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-right: 8rem;
  margin-bottom: 0.5rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}

@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */