

/*===== main content =====*/
.main-content {
  padding: 1rem;

}

.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0.5rem;
  position: relative;
  height: min-content;
  justify-content: space-between;
}

.title h2 {
  margin: 0.5rem 0;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 900;
  float: left;
  margin-left: 5rem;
}

.button-addproduct {
position: absolute;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  right: 0;
}

.btn {
  background: var(--bg-color);
  color: var(--white-color);
  font-size: 1rem;
  width: max-content;
  padding: 0.5rem 1.5rem;

  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.btn:visited,
.btn:hover {
  background: var(--bg-color-dark);
  border: none;
  outline: none;
}

.btn i {
  margin-right: 0.5rem;
}

.title, .filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*===== Filter=====*/
.filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.filter {
  float: right;
  margin-right: 2rem;
  vertical-align: middle;
  margin-top: 1rem;
}

.filter h4 {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

select {
  border: none;
  background-color: var(--bg-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white-color);
  font-size: 1rem;
  border-radius: .6rem;
  position: relative;
  overflow: hidden;
  appearance: none;
}


select:focus,
select:visited {
  outline: none;
}

#standard-select option {
  line-height: 1rem;
}

.select-left {
  margin-right: 5rem;
}


/*========Table Start=============*/
table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
  height: 5rem;
  border-spacing: 1rem !important;
  border: 1px solid #bdc3c7;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
  height: 1rem;
  line-height: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th i,
td i {
  color: var(--bg-color);
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

th .drpbtn,
td .drpbtn {
  padding-right: 1.5rem;
}

#table-header {
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  color: var(--white-color);
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
  padding: 10px 0px;
}


@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*===== Action Dropdown======*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: -8.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.dropdown-content a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.dropdown-content a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drpbtn {
  background-color: #3e8e41;
}



/*===Modal Form===*/
/*===Modal Form===*/

#modal-purchase-js {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content-purchase-js {
  background: var(--white-color);
  width: 50%;
  margin: 4.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
  scroll-behavior: smooth;
  height: max-content;
}

#modal-content-purchase-js .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content-purchase-js .modal-heading h3 {
  margin-top: 0;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content-purchase-js .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body-event {
  padding: 2.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1.3rem;

}

.group-flex {
  display: flex;
}

.form-group label {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

}

.last-name {
  margin-left: 14.2rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border: 0.001rem solid rgb(204, 204, 204);
  border-radius: 0.5rem;
}

.for-right-margin {
  margin-right: 1rem;
}
.for-margin{
  width: max-content;
  float: right;
}

.for-label-width {
  width: 50%;
}

.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  margin-top: -0.8rem;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}




/*===Modal Form Supplier===*/

#modal-supplier-js {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content-supplier-js {
  background: var(--white-color);
  width: 50%;
  margin: 4.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
  scroll-behavior: smooth;
  height: max-content;
}

#modal-content-supplier-js .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content-supplier-js .modal-heading h3 {
  margin-top: 0;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content-supplier-js .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

#modal-content-supplier-js .close-supplier-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-supplier-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body-event {
  padding: 2.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1.3rem;

}

.group-flex {
  display: flex;
}

.form-group label {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

}

.last-name {
  margin-left: 14.2rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border: 0.001rem solid rgb(204, 204, 204);
  border-radius: 0.5rem;
}

.for-right-margin {
  margin-right: 1rem;
}
.for-margin{
  width: max-content;
  float: right;
}



.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  margin-top: -0.8rem;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}


@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */