.main-content {
  margin-top: 3rem;
}


/*Product Selection Section and sale page*/
.product-selling-section {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  height: 44rem;
  overflow: hidden;
}

.pos-product-selection {
  width: 61%;
  margin-right: 2rem;
  border-radius: 0.5rem;
  background: var(--bg-gray)
}

.product-selection-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 2.2rem;
  padding: 0.2rem;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}

.selection-header-left {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: var(--white-color);
  padding: 0.1rem;
  min-height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

.fa-search-pos {
  color: var(--text-color);
  padding: 0.6rem 0.6rem 0.1rem 0.6rem;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  border-right: 0.1rem solid var(--bg-gray);
}

.selection-header-left input {
  padding: 0.4rem;
  margin: 0.2rem 0; 
  border-radius: 0.4rem;
  border: none;
  width: 100%;
  font-size: 1rem;
  margin-right: 0.4rem;
  background: var(--bg-gray);

}

.btn-pos-section {
  font-size: 1.1rem;
  border: none;
  color: var(--bg-color);
  border-radius: 0.2rem;
  width: max-content;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.active-btn {
  color: var(--white-color);
  background: var(--bg-color);
}


/*ProducT Pos Sell Accounting Scroll*/
#product-view-area-scroll {
  /* padding: 1rem; */
  width: 100%;
  height: 40rem;
  overflow-y: scroll; /* Add the ability to scroll */
  scrollbar-width: none;
  z-index: 0;
  background: var(--bg-gray);
}

/*
 *  scrollbar custom 
 */
 
 #product-view-area-scroll::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
 }
 
 #product-view-area-scroll::-webkit-scrollbar
 {
   width: 6px;
   background-color: #F5F5F5;
 }
 
 #product-view-area-scroll::-webkit-scrollbar-thumb
 {
   background-color: var(--bg-color);
 }


.my-custom-scrollbar {
  position: relative;
  height: 25rem;
  overflow: auto;
  scrollbar-width: thin;
}
.table-wrapper-scroll-y {
  display: block;
}


/*
 *  scrollbar custom 
 */
 
#style-custom-narrow::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-custom-narrow::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-custom-narrow::-webkit-scrollbar-thumb
{
	background-color: var(--bg-color);
}
 
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.product-view-area .view-box{
  background: var(--white-color);
  width: 7.5rem;
  height: 8.6rem;
  line-height: 0;
  text-align: center;
  display: block;
  background: var(--bg-gray-dark);
}

.view-box img {
  width: 7.5rem;
  height: 7.5rem;
}

.view-box .product-title {
  color: var(--bg-color);
  padding: 0.5rem;
  margin:  -2.3rem 0 0.1rem 0;
} 
.view-box .product-price {
  color: var(--bg-color);
  padding: 0.5rem;
  margin:  0.1rem 0 0.1rem 0;
} 
.view-box .product-btn {
  padding: 0.5rem;
  margin:  0.1rem 0 0.1rem 0;
} 

.add-cart {
  border: none;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 116%;
  margin-left: -0.5rem;
  margin-top: -0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  cursor: pointer;
}

.add-cart:hover {
  color: var(--bg-color);
  background: var(--white-color);

}

/*sale section right*/
.pos-sale-accounting-section {
  width: 37%;
  padding: 0.2rem;
}

.sale-accounting-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 2.2rem;
  padding: 0.2rem;
  margin: 0.5rem 0 1rem 0.4rem;
  text-align: center;
}

.sale-accounting-header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--white-color);
  padding: 0.1rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.sale-accounting-header-content-left,
.sale-accounting-header-content-right {
  display: flex;
  position: relative;
}
.sale-accounting-header-content-right {
  right: 0;
  float: right;
  justify-content: space-between;
}

.sale-accounting-header-content .fa-user {
  color: var(--bg-color);
  padding: 0.6rem 0.6rem 0.1rem 0.6rem;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  margin-left: -1rem;
  border-right: 0.1rem solid var(--bg-gray);
}
.sale-accounting-header-content  input {
  padding: 0.4rem;
  margin-top: 0.2rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.4rem;
  background: var(--bg-gray);
}

.customer-search {
  width: 18rem;
}

.delivery-date-select {
  width: 12rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.sale-accounting-header-content i {
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem 0.2rem 0.6rem;
}

.sale-accounting-table {
  height: 36rem;
  position: relative;
}

.payment-method-selection {

  height: 1.8rem;
  font-size: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.sale-accounting-header-content-left .fa-plus {
  color: var(--white-color);
  background: var(--bg-color);
  border-radius: 0.4rem;
  cursor: pointer;
  position: absolute;
  margin-top: 0.3rem;
  float: right;
  right: 0;
}

.fa-ellipsis-v-right {
  margin-left: 1rem;
  cursor: pointer;
}




.table-sale-section tr {
  margin-bottom: 0.5rem;
}

#header-sale-section {
  border-radius: 1rem;
  color: var(--bg-color);
  margin-bottom: 0.5rem;
}

.table-body-top {
  width: 101%;
}


.table-footer-for-sum {
  position: absolute;
  width: 101%;
  bottom: 0rem;
}

.table-footer-for-sum:before {
  display: none;
}

.input-amount {
  min-width: 2rem;
  width: 5.5rem;
  border: none;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background: var(--bg-gray);
}

.icon-center-pos {
  text-align: center;
  justify-content: center;
  width: 1rem;
}

.subtotal-align-right {
  text-align: right;
}

.accounting-button {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.btn-payment {
  font-size: 1.2rem;
  padding:  0.5rem 4.2rem 0.5rem 4.2rem;
  margin-left: 0.2rem;
  border: none;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn-payment:hover {
  background: var(--bg-color-dark);
}

.dropdown-table-row {
  margin-left: -3rem;
}

/*=====order history section=======*/
.order-history-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
/*=====Sold history section=======*/
.sold-history-section {
  margin-top: 5rem;
}

/*========Table Start=============*/
table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 98%;
  height: 5rem;
  border-spacing: 0rem !important;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
  height: 1rem;
  line-height: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th i,
td i {
  color: var(--bg-color);
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

th .drpbtn,
td .drpbtn {
  padding-right: 1.5rem;
}

#header {
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  color: var(--white-color);
}


/*===== Action Dropdown======*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: -2.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

.dropdown-content a:hover {
  width: 100%;
  background-color: #dbdbdb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drpbtn {
  background-color: #3e8e41;
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}



/*# sourceMappingURL=style.css.map */

.conntent-heading-sales {
  width: 100%;
}


.heading-items h4 {
  font-size: 1.2rem;
}

/*===Modal Form===*/
/*===Modal Form===*/

#modal-customer-js {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content-customer-js {
  background: var(--white-color);
  width: 50%;
  margin: 4.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
  scroll-behavior: smooth;
  height: max-content;
}

#modal-content-customer-js .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content-customer-js .modal-heading h3 {
  margin-top: 0;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content-customer-js .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body-event {
  padding: 2.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1.3rem;

}

.group-flex {
  display: flex;
}

.form-group label {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

}

.last-name {
  margin-left: 14.2rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border: 0.001rem solid rgb(204, 204, 204);
  border-radius: 0.5rem;
}

.for-right-margin {
  margin-right: 1rem;
}
.for-margin{
  width: max-content;
  float: right;
}



.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
  margin-top: -0.8rem;
  outline: none;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}

@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */


/* from shafayet */
input{
  margin: 2px;
}
.form-check-input {
  margin-top: 2px;
  margin-left: -15px;
}
label {
  display: inline-block;
  margin-bottom: -0.4rem;
}