

/*=====profile view page===========*/

.profile-view-page {
  width: 95%;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px -5px rgb(17 205 227 / 58%);
  
}

.profile-content-left {
  display: flex;
}

.customer-profile-img {
  float: left;
  padding: 1rem;
}

.customer-profile-img img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 1px solid black;
}

.customer-midlle-info {
  margin-top: 4rem;
  
}

.customer-name-status h3 {
  font-size: 1.4rem;
  color: var(--bg-color);
  bottom: 0;
  line-height: 0;
}

.customer-name-status h5 {
  font-size: 1.1rem;
  line-height: 0;
  color: var(--text-color);
}

.entry-info {
  padding-top: 2rem;
  width: 23.3rem;
  padding-right: 2rem;
  float: right;
}

.entry-info td {
  height: 2rem;
}
#customer-info-table {
  width: 100%;
  border-collapse: collapse;
}
#customer-info-table td {
  height: 3rem;
  font-size: 1.2rem;
}

.for-text-align-right {
  text-align: right;
}

.profile-content-right {
  padding: 5.5rem 2rem 1rem 3rem;
  float: right;
  border-left: 1px solid var(--text-color);
}

.for-td-width {
  width: 20rem;
}



/*========Table Start=============*/

.customer-sales-data-heading {
  margin-left: 1rem;
  color: var(--bg-color);
}

#sales-data-table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 98%;
  height: 5rem;
  border-spacing: 1rem !important;
  border: 1px solid #bdc3c7;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

#sales-data-table tr {
  height: 1rem;
  line-height: 1rem;
}

#sales-data-table th,
#sales-data-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th i,
td i {
  color: var(--bg-color);
  cursor: pointer;
  padding: 0 0.5rem 0 0;
}

th .drpbtn,
td .drpbtn {
  padding-right: 1.5rem;
}

#header {
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  color: var(--white-color);
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
  padding: 10px 0px;
}



/*======table dropdown=======*/


.table-dropdown-content {
  left: -6.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  width: max-content;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;
}
.table-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  cursor: pointer;
}

.table-dropdown-content a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.table-dropdown-content a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}
.dropdown:hover .table-dropdown-content {
  display: block;
}


/* =======Customer Note=======**/

.customer-note {
  width: 95%;
  right: 0;
  margin: 2rem;
  padding: 0.5rem;
}

.customer-note h3 {
  color: var(--bg-color);
  margin-left: 1rem;
  font-size: 1.5rem;
}

.customer-note-pad {
  width: 100%;
  padding: 1.5rem;
  min-height: 13rem;
  border-radius: 0.6rem;
  line-height: 1.3rem;
  letter-spacing: 0.080rem;
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgb(44 205 245 / 40%);
}


/*===== Action Dropdown======*/

.dropdown-profile {
  position: relative;
  display: inline-block;
}

.dropdown-content-profile {
  left: -3.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  position: absolute;
  width: max-content;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-content-profile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  cursor: pointer;
}

.dropdown-content-profile a i {
  color: var(--bg-color);
  margin-right: 0.5rem;
}

.dropdown-content-profile a:hover {
  text-align: left;
  width: auto;
  background-color: #dbdbdb;
}

.dropdown-profile:hover .dropdown-content-profile {
  display: block;
}

/*===Modal Form===*/

#category-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(129, 129, 129, 0.6);
  transition: background 0.3s;
}

#modal-content {
  background: var(--white-color);
  width: 50%;
  margin: 3.5rem auto;
  font-family: 'Roboto', sans-serif;
  animation-name: modalSlidUp;
  animation-duration: 1s;
}

#modal-content .modal-heading {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--bg-color);
  padding: 1.5rem;
  
}

#modal-content .modal-heading h3 {
  margin-top: 0;
  margin-left: ;
  text-transform: uppercase;
  width: 50%;
  color: var(--white-color);
  vertical-align: middle;
}

#modal-content .close-modal {
  margin-top: -0.7rem;
  font-size: 2rem;
  margin-left: 55%;
  color: var(--white-color);
  transition: all 0.3s;
}

.close-modal:hover {
  color: #000;
  cursor: pointer;
}

.modal-body {
  padding: 3.5rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-right: 8rem;
  margin-bottom: 0.5rem;
}

.form-group select {
  width: 100%;
  padding: 0.4rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

.form-group input,
.form-group textarea {
  top: 0;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

.btn-submit {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: var(--white-color);
  background: var(--bg-color);
  transition: 0.3s;
}

.btn-submit:hover {
  background: var(--bg-color-dark);
}

@keyframes modalSlidUp {
  0%{
    transform: translateY(1500px);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  table {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */