{% load crispy_forms_tags %}
<div id="show-create-customer-modal" class="" style="display: none;">
    <form action="{% url 'customers:create_customer' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                  <div class="form-group col-sm-6">
                      {{ customerForm.first_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-sm-6">
                      {{ customerForm.last_name|as_crispy_field }}
                  </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ customerForm.email|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                    {{ customerForm.phone1|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ customerForm.phone2|as_crispy_field }}
                </div> 
                <div class="form-group col-sm-6">
                    {{ customerForm.address1|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ customerForm.address2|as_crispy_field }}
                  </div>
                  <div class="form-group col-sm-6 ">
                    {{ customerForm.picture|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ customerForm.note|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 ">
                    {{ customerForm.gender|as_crispy_field }}
                </div>
            </div>

            <div class="border mt-3 p-4">
                <div class="row mb-3 ">
                    <div class="col text-center">
                        <strong><h3>Right</h3></strong>
                        
                    </div>
                    <div class="col text-center">
                        <strong><h3>Left</h3></strong>
                    </div>
                </div>
                <!-- Distance starts -->
                <div class="border border-info p-3">
                    <div class="row">
                        <div class="mr-4">
                            <strong><h3 class="mt-4">Dis</h3></strong>
                        </div>
                        <!-- Left -->
                        <div class="form-group col">
                            {{ customerForm.rd_sph|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.rd_cyl|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.rd_axis|as_crispy_field }}
                        </div>
                        <div class="form-group col border-right border-danger">
                            {{ customerForm.rd_va|as_crispy_field }}
                        </div>
                        <!-- Left ends-->
                        <!-- Right -->
                        <div class="form-group col">
                            {{ customerForm.ld_sph|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ld_cyl|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ld_axis|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ld_va|as_crispy_field }}
                        </div>
                        <!-- Right ends-->
                    </div>
                </div>
                <!-- Distance ends -->
                <!-- Near starts -->
                <div class="border-right border-left border-bottom border-info p-3">
                    <div class="row">
                        <div class="mr-2">
                            <strong><h3 class="mt-4">Near</h3></strong>
                        </div>
                        <!-- Left -->
                        <div class="form-group col">
                            {{ customerForm.rn_sph|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.rn_cyl|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.rn_axis|as_crispy_field }}
                        </div>
                        <div class="form-group col border-right border-danger">
                            {{ customerForm.rn_va|as_crispy_field }}
                        </div>
                        <!-- Left ends-->
                        <!-- Right -->
                        <div class="form-group col">
                            {{ customerForm.ln_sph|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ln_cyl|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ln_axis|as_crispy_field }}
                        </div>
                        <div class="form-group col ">
                            {{ customerForm.ln_va|as_crispy_field }}
                        </div>
                        <!-- Right ends-->
                    </div>
                </div>
                <!-- Near ends -->

                <!-- Additional -->
                <div class="border-right border-left border-bottom  border-info p-3">
                    <div class="row">
                        <div class="mr-5">
                            <strong><h3 class="">Add</h3></strong>
                        </div>
                        <div class="form-group col border-right border-danger">
                            {{ customerForm.adi_left|as_crispy_field }}
                        </div>
                        <div class="form-group col float-right">
                            {{ customerForm.adi_right|as_crispy_field }}
                            
                        </div>
                        <span>mm</span>
                    </div>
                </div>
            </div>


        </div>
        <button type="submit" class="btn btn-info btn-lg float-right">Submit</button>
    </form>

</div>