{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card card-info">
        <div class="card-header text-center">
            <h3 class="card-title">Update Customer</h3>
        </div>
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                      <div class="form-group col-sm-6">
                          {{ form.first_name|as_crispy_field }}
                      </div>
                      <div class="form-group col-sm-6">
                          {{ form.last_name|as_crispy_field }}
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.phone1|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.phone2|as_crispy_field }}
                    </div> 
                    <div class="form-group col-sm-6">
                        {{ form.address1|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.address2|as_crispy_field }}
                      </div>
                      <div class="form-group col-sm-6 ">
                        {{ form.picture|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.note|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6 ">
                        {{ form.gender|as_crispy_field }}
                    </div>
                </div>
        
                <div class="border mt-3 p-4">
                    <div class="row mb-3 ">
                        <div class="col text-center">
                            <strong><h3>Right</h3></strong>
                            
                        </div>
                        <div class="col text-center">
                            <strong><h3>Left</h3></strong>
                        </div>
                    </div>
        
                    <!-- Distance starts -->
                    <div class="border border-info p-3">
                        <div class="row">
                            <div class="mr-4">
                                <strong><h3 class="mt-4">Dis</h3></strong>
                            </div>
                            <!-- Left -->
                            <div class="form-group col">
                                {{ form.rd_sph|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.rd_cyl|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.rd_axis|as_crispy_field }}
                            </div>
                            <div class="form-group col border-right border-danger">
                                {{ form.rd_va|as_crispy_field }}
                            </div>
                            <!-- Left ends-->
                            <!-- Right -->
                            <div class="form-group col">
                                {{ form.ld_sph|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ld_cyl|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ld_axis|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ld_va|as_crispy_field }}
                            </div>
                            <!-- Right ends-->
                        </div>
                    </div>
                    <!-- Distance ends -->

                    <!-- Near starts -->
                    <div class="border-right border-left border-bottom border-info p-3">
                        <div class="row">
                            <div class="mr-2">
                                <strong><h3 class="mt-4">Near</h3></strong>
                            </div>
                            <!-- Left -->
                            <div class="form-group col">
                                {{ form.rn_sph|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.rn_cyl|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.rn_axis|as_crispy_field }}
                            </div>
                            <div class="form-group col border-right border-danger">
                                {{ form.rn_va|as_crispy_field }}
                            </div>
                            <!-- Left ends-->
                            <!-- Right -->
                            <div class="form-group col">
                                {{ form.ln_sph|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ln_cyl|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ln_axis|as_crispy_field }}
                            </div>
                            <div class="form-group col ">
                                {{ form.ln_va|as_crispy_field }}
                            </div>
                            <!-- Right ends-->
                        </div>
                    </div>
                    <!-- Near ends -->
        
                    <!-- Additional -->
                    <div class="border-right border-left border-bottom  border-info p-3">
                        <div class="row">
                            <div class="mr-5">
                                <strong><h3 class="">Add</h3></strong>
                            </div>
                            <div class="form-group col border-right border-danger">
                                {{ form.adi_left|as_crispy_field }}
                            </div>
                            <div class="form-group col float-right">
                                {{ form.adi_right|as_crispy_field }}
                                
                            </div>
                            <span>mm</span>
                        </div>
                    </div>
                </div>
        
        
            </div>
            <button type="submit" class="btn btn-info btn-lg float-right">Submit</button>
        </form>
  
    </div>
  </div>
{% endblock %}

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="card-body">
        <div class="row">
              <div class="form-group col-sm-6">
                  {{ form.first_name|as_crispy_field }}
              </div>
              <div class="form-group col-sm-6">
                  {{ form.last_name|as_crispy_field }}
              </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-sm-6">
                {{ form.phone1|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ form.phone2|as_crispy_field }}
            </div> 
            <div class="form-group col-sm-6">
                {{ form.address1|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ form.address2|as_crispy_field }}
              </div>
              <div class="form-group col-sm-6 ">
                {{ form.picture|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ form.note|as_crispy_field }}
            </div>
            <div class="form-group col-sm-6 ">
                {{ form.gender|as_crispy_field }}
            </div>
        </div>

        <div class="border mt-3 p-4">
            <div class="row mb-3 ">
                <div class="col text-center">
                    <strong><h3>Right</h3></strong>
                    
                </div>
                <div class="col text-center">
                    <strong><h3>Left</h3></strong>
                </div>
            </div>
            <!-- Near starts -->
            <div class="border border-info p-3">
                <div class="row">
                    <div class="mr-2">
                        <strong><h3 class="mt-4">Near</h3></strong>
                    </div>
                    <!-- Left -->
                    <div class="form-group col">
                        {{ form.rn_sph|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.rn_cyl|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.rn_axis|as_crispy_field }}
                    </div>
                    <div class="form-group col border-right border-danger">
                        {{ form.rn_va|as_crispy_field }}
                    </div>
                    <!-- Left ends-->
                    <!-- Right -->
                    <div class="form-group col">
                        {{ form.ln_sph|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ln_cyl|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ln_axis|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ln_va|as_crispy_field }}
                    </div>
                    <!-- Right ends-->
                </div>
            </div>
            <!-- Near ends -->

            <!-- Distance starts -->
            <div class="border-right border-left border-bottom border-info p-3">
                <div class="row">
                    <div class="mr-4">
                        <strong><h3 class="mt-4">Dis</h3></strong>
                    </div>
                    <!-- Left -->
                    <div class="form-group col">
                        {{ form.rd_sph|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.rd_cyl|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.rd_axis|as_crispy_field }}
                    </div>
                    <div class="form-group col border-right border-danger">
                        {{ form.rd_va|as_crispy_field }}
                    </div>
                    <!-- Left ends-->
                    <!-- Right -->
                    <div class="form-group col">
                        {{ form.ld_sph|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ld_cyl|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ld_axis|as_crispy_field }}
                    </div>
                    <div class="form-group col ">
                        {{ form.ld_va|as_crispy_field }}
                    </div>
                    <!-- Right ends-->
                </div>
            </div>
            <!-- Distance ends -->

            <!-- Additional -->
            <div class="border-right border-left border-bottom  border-info p-3">
                <div class="row">
                    <div class="mr-5">
                        <strong><h3 class="">Add</h3></strong>
                    </div>
                    <div class="form-group col border-right border-danger">
                        {{ form.adi_left|as_crispy_field }}
                    </div>
                    <div class="form-group col float-right">
                        {{ form.adi_right|as_crispy_field }}
                        
                    </div>
                    <span>mm</span>
                </div>
            </div>
        </div>


    </div>
    <button type="submit" class="btn btn-info btn-lg float-right">Submit</button>
</form>