{% extends 'base.html' %}
{% load static %}
{% block datatable_js_script %} 
    <script src="{% static 'js/customer-datatable.js' %}"></script>  
{% endblock datatable_js_script %} 
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Customer History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-md btn-info js-create-customer">
                <i class="fas fa-plus"></i>
                Add New Customer
            </button>
        </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Customer Id</th>
                    <th>Date Joined</th>
                    <th>Customer Name</th>
                    <th>Gender</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Address-1</th>
                    <th>Address-2</th>
                    <th>Note</th>
                    <th>Status</th>
                    <th>Added BY</th>
                    <th>Updated BY</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td class="text-center"> {{ customer.id }}</td>
                        <td>  {{ customer.created|date:"M d, Y" }} </td>
                        <td>  {{ customer.get_full_name }} </td>
                        <td>  {{ customer.gender }} </td>
                        <td>  {{ customer.phone1 }} </td>
                        <td>  {{ customer.phone2 }} </td>
                        <td>  {{ customer.email }} </td>
                        <td>  {{ customer.address1 }} </td>
                        <td>  {{ customer.address2 }} </td>
                        <td>  {{ customer.note }} </td>
                        <td>  {{ customer.status }} </td>
                        <td>  {{ customer.added_by }} </td>
                        <td>  {{ customer.edited_by }} </td>
                        <td>
                            <a href="{% url 'customers:update_customer' customer.pk %}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'customers:customer_profile' customer.id %}">
                                <i class="fas fa-eye"></i>
                            </a>   
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Customer Id</th>
                    <th>Date Joined</th>
                    <th>Customer Name</th>
                    <th>Gender</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Address-1</th>
                    <th>Address-2</th>
                    <th>Note</th>
                    <th>Status</th>
                    <th>Added BY</th>
                    <th>Updated BY</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% include 'customers/create-customer-modal.html' %}
    {% include 'customers/customer-delete-modal.html' %}
</div>

{% endblock %}
