{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Customer Profile Start -->
    <div class="container">
        <div class="row">
        <div class="col-md-6 img">
            <img src="{{ customer.picture.url }}"  alt="Customer Image" class="img-rounded">
        </div>
        <div class="col-md-6 details">
            <blockquote>
            <h5> {{ customer.get_full_name }} </h5>
            {% if customer.address1 %}
                <small><cite title="Source Title"> {{ customer.address1 }}  <i class="icon-map-marker"></i></cite></small> <br>
            {% endif %}

            {% if customer.address2 %}
            <small><cite title="Source Title"> {{ customer.address2 }}  <i class="icon-map-marker"></i></cite></small>
            {% endif %}
            </blockquote>
            <p>
                {% if customer.phone1 %}
                    {{ customer.phone1 }} <br>
                {% endif %}
                
                {% if customer.phone1 %}
                    {{ customer.phone1 }} <br>
                {% endif %}
                {{ customer.email }} <br>
                {{ customer.date_joined }} <br>
            </p>
        </div>
        </div>
    </div>
    <!-- Customer Profile ended -->

    <!-- Order History of the Customer start -->
    <div class="card mt-5">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 ">
                    <span class="display-4"> Customer's Sales History</span>
                </div>
                <div class="col-sm-6 printbar  text-right">
                    <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
                </div>
            </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Invoice Id</th>
                        <th>Total Qty</th>
                        <th>Sub Total</th>
                        <th>Other Fee</th>
                        <th>Discount</th>
                        <th>Discount %</th>
                        <th>Taken Amount</th>
                        <th>Payment Method</th>
                        <th>Selling Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                        <th>Sales Man</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in orders %}
                        <tr>
                            
                            <td class="text-center">  #00{{item.id}} </td>
                            <td>  {{ item.get_total_qty }} </td>
                            <td>  {{ item.get_sub_total }} </td>
                            <td>  {{ item.other_fee }} </td>
                            <td>  {{ item.discount }} </td>
                            <td>  {{ item.is_discount_parcentage }} </td>
                            <td>  {{ item.take_amount }} </td>
                            <td>  {{ item.payment_method }} </td>
                            <td>  {{ item.selling_date }} </td>
                            <td>  {{ item.delivery_date }} </td>
                            {% if item.is_complete %}
                                <td><span class="badge badge-success">Delivered</span></td>
                            {% else %}
                                <td><span class="badge badge-warning">Pending</span></td>
                            {% endif %}
                            <td> {{item.added_by.username|upper}} </td>
                            
                            <td>
                                {% if item.is_complete == False  %}
                                        <!--===== Sale Modal  =====-->
                                    <!-- update modal -->
                                    <a href="{% url 'sales:update_sale' item.id %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                        
                                    <span class="js-delete-sale" data-sale_id="{{ item.id }}">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                {% endif %}
                                <a href="{% url 'sales:sale_invoice' item.pk %}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Invoice Id</th>
                        <th>Total Qty</th>
                        <th>Sub Total</th>
                        <th>Other Fee</th>
                        <th>Discount</th>
                        <th>Discount %</th>
                        <th>Taken Amount</th>
                        <th>Payment Method</th>
                        <th>Selling Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                        <th>Sales Man</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- sale delete modal -->
        <!-- {% include 'sales/sale-delete-modal.html' %} -->
    </div>
    <!-- Order History of the Customer ended -->

{% endblock %}