{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block expense_report_datatable_js %} 
    <script src="{% static 'js/expense-report-datatable.js' %}"></script>
{% endblock expense_report_datatable_js %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Expense Report</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Expense Id</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Payment to</th>
                    <th>Description</th>
                    <th>Types of Cost</th>
                    <th>Expense Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in expenses %}
                    <tr>
                        <td>  {{item.id}} </td>
                        <td>  {{ item.created|date:"M d, Y" }} </td>
                        <td>  {{item.title}} </td>
                        <td>  {{item.pay_to}} </td>
                        <td>  {{item.description}}</td>
                        <td>  {{item.types_of_cost}}</td>
                        <td>  {{item.amount|intcomma}} </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Expense Id</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Payment to</th>
                    <th>Description</th>
                    <th>Types of Cost</th>
                    <th>Expense Amount</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}