{% extends 'base.html' %}
{% load static %}
{% load humanize %}}

{% block expense_datatable_js %} 
    <script src="{% static 'js/expense-datatable.js' %}"></script>
{% endblock expense_datatable_js %}

{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Expense History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button id="add-expense" class="btn btn-info">
                <i class="fas fa-plus"></i>
                Add Expense
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
               
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Expense Id</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Payment to</th>
                    <th>Description</th>
                    <th>Types of Cost</th>
                    <th>Expense Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in expenses %}
                    <tr>
                        <td>  {{item.id}} </td>
                        <td>  {{ item.created|date:"M d, Y" }} </td>
                        <td>  {{item.title}} </td>
                        <td>  {{item.pay_to}} </td>
                        <td>  {{item.description}}</td>
                        <td>  {{item.types_of_cost}}</td>
                        <td>  {{item.amount|intcomma}} </td>
                        <td>                            
                            <span class="js-delete-expense" data-expense_id="{{ item.id }}">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Expense Id</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Payment to</th>
                    <th>Description</th>
                    <th>Types of Cost</th>
                    <th>Expense Amount</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
<!--add expense modal-->
{% include 'expenses/expense_modal.html' %}
{% include 'expenses/expense-delete-modal.html' %}
</div>

{% endblock %}
