{% load crispy_forms_tags %}
<div id="add-expense-modal" style="display: none;">
    <form action="{% url 'expenses:add_expense' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary btn-lg btn-block float-right">Submit</button>
    </form>
</div>