{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}
<div class="card card-outline card-info">
  <div class="card-header text-center">
      <h1><b>{{site_title}}</b></h1>
  </div>
  <!-- login-card-body -->
  <div class="card-body" style="width: 420px;">
    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            {{ form|crispy }}
          </div>
          <button type="submit" class="btn btn-info btn-block">Request for new password</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <p class="mt-3 mb-1">
      <a href="{% url 'users:login' %}">Login</a>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>
{% endblock login %}
