{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}
<div class="card-body">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Success!</h5>
        <p>
            An email has been sent with instructions to reset your password.
        </p>
    </div>
</div>
{% endblock login %}