{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}
<div class="card-body">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Success!</h5>
        <p>
            Your password has been successfully changed.
            <a href="{% url 'users:login' %}">Login</a>
        </p>
    </div>
</div>
{% endblock login %}