{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
      <title>Pos</title>
  {% endif %}

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.css' %}">
  <!-- icheck bootstrap -->
  <!-- <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
  <!-- JQuery -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <!-- This file stays this position otherwise toastr notification won't work-->
  <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
  <script src="{% static 'js/toastr_notification.js' %}"></script>
  <style>
      .login-box{
          width: auto;
      }
  </style>
  
</head>
<body class="hold-transition login-page">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>
                    Toast.fire({
                        icon: '{{ message.tags }}',
                        title: '{{ message }}'
                    })
                </script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>
                    Toast.fire({
                        icon: '{{ message.tags }}',
                        title: '{{ message }}'
                    })
                </script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>
                    Toast.fire({
                        icon: '{{ message.tags }}',
                        title: '{{ message }}'
                    })
                </script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>
                    Toast.fire({
                        icon: '{{ message.tags }}',
                        title: '{{ message }}'
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="login-box">
        {% block login %}

        {% endblock login %}
    </div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
