{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}
<div class="card card-outline card-info">
  <div class="card-header text-center">
      <h1><b> {{ site_title }} </b></h1>
  </div>
  <!-- login-card-body -->
  <div class="card-body" style="width: 420px;">
    {% if error %}
    <div class="d-flex justify-content-start p-3 text-danger font-weight-bold border border-radius border-danger mb-4">
      <span >
        Please enter the correct username and password. Note that both fields may be case-sensitive.
      </span>
    </div>
    {% endif %}
   
    <form action="" method="post">
        {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" name="username" value="">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
          <button type="submit" class="btn btn-info btn-block">Log In</button>
      </div>
    </form>

    <p class="mb-1 d-inline">
      <a href="{% url 'password_reset' %}">I forgot my password</a>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>
{% endblock login %}
<button type="submit" class="btn btn-info btn-block">Request for new password</button>