{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Users</span>
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <a class="btn btn-info p-2" href="{% url 'users:create_user' %}">
                <i class="fas fa-plus"></i>
                Create User
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date Joined</th>
                    <th>Last Login</th>
                    <th>Username</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <td> {{user.id}} </td>
                            <td> {{user.date_joined}} </td>
                            <td> {{user.last_login}} </td>
                            <td> {{user.username}} </td>
                            <td> {{user.get_full_name}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.phone1}} {% if user.profile.phone2 %}, {{user.profile.phone2}} {% endif %}</td>
                            <td> 
                                {% if user.is_owner %}
                                    Owner
                                {% elif user.is_manager %}
                                    Manager
                                {% endif %}
                                
                            </td>
                            {% if user.is_superuser %}
                            <td></td>
                            
                            {% elif request.user == user.is_manager %}
                                <td></td>
                            {% else %}
                            <td>
                                <a href="{% url 'users:update_user' user.id %}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date Joined</th>
                    <th>Last Login</th>
                    <th>Username</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

