{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card text-dark text-dark bg-light">
            <h3 class="card-header bg-info">Create New User</h3>
            <div class="card-body"">
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.is_salesman|as_crispy_field }}
                    </div>
                    {% if user.is_owner and user.is_superuser %}
                    <div class="form-group col-sm-4">
                        {{ form.is_manager|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.is_owner|as_crispy_field }}
                    </div>
                    {% endif %}
                </div>
                <button class="btn btn-md btn-info float-right" type="submit">Submit</button>
            </div>
           
        </div>
        
    </form>
</div>
{% endblock %}