
<header class="header" id="header">
    <div class="header__toggle">
        <i class='fas fa-bars' id="header-toggle"></i>
    </div>
    <!------------Search Bar Top Nav------------>
    <div class="search-bar-top">
        <i class="fas fa-search"></i>
        <form action="">
            <input type="search" placeholder="Search Here...">
        </form>
    </div>
    <!------------Start Top Nav------------>
    <div class="header-part">
        <ul class="noti-nav">
            <!------------Start Notification Area------------>
            <li>
                <a href="#" class="noti__link">
                    <i class='fas fa-bell nav__icon' ></i>
                    <span>15</span>
                </a>   
                
            </li>
            <!------------End Notification Area------------>
            <!------------Start User Image Area------------>
            <li>
                <img src="dist/img/bg.jpg" alt="">
                <div class="user-name">User Name</div>
            </li>
            <!------------End User Image Area------------>
            <!------------Start Dropdown Area------------>
            <li>
                <i  class="fas fa-chevron-down drpbtn dropdown">
                    <div id="profile-menu" class="header-dropdown-content">
                        <a href="#"><i class="fas fa-user-circle"></i>Profile</a>
                        <a href="../../pages/Settings/settings.html"><i class="fas fa-cog"></i>Settings</a>
                        <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>                  
                </i>
            </li>
            <!------------EWnd Dropdown Area------------>
        </ul>
    </div>
    <!------------End Top Nav------------>
</header>
<!------------Start Sidbar----------->
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <!------------Start Company Logo And Name------------>
        <div class="company-logo">
            <img src="../../dist/img/company-logo.jpg" alt="Company Logo">
        </div>
        <a href="#" class="nav__logo">
            <span class="nav__logo-name">Your Company Name</span>
        </a>
        <!------------End Company Logo And Name------------>
        <!------------Start Sidbar nav list------------>
        <div class="nav__list">
            <a href="{% url 'products:home' %}" class="nav__link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"> 
            <i class='fas fa-th-large nav__icon' ></i>
                <span class="nav__name">Dashboard</span>
            </a>

            <a href="{% url 'products:sales_order' %}" class="nav__link {% if request.resolver_match.url_name == 'sales_order' %}active{% endif %}">
                <i class='fas fa-shopping-basket nav__icon' ></i>
                <span class="nav__name">Sales / Orders</span>
            </a>
            
            <a href="../../pages/ProductCat/product-cat.html" class="nav__link">
                <i class='fas fa-shopping-bag nav__icon' ></i>
                <span class="nav__name">Product</span>
            </a>

            <a href="../../pages/Customer/grid-style-customer.html" class="nav__link">
                <i class='fas fa-users nav__icon' ></i>
                <span class="nav__name">Customer</span>
            </a>

            <a href="{% url 'inventories:inventory' %}" class="nav__link {% if request.resolver_match.url_name == 'inventory' %}active{% endif %}">
                <i class='fas fa-store nav__icon' ></i>
                <span class="nav__name">Inventory</span>
            </a>

            <a href="../../pages/Purchase/Purchase.html" class="nav__link">
                <i class='fas fa-briefcase nav__icon' ></i>
                <span class="nav__name">Purchase</span>
            </a>
            <a href="{% url 'expenses:expense' %}" class="nav__link {% if request.resolver_match.url_name == 'expense' %}active{% endif %}">
                <i class='fas fa-money-bill-wave nav__icon' ></i>
                <span class="nav__name">Expense</span>
            </a>
            <a href="../../pages/Report/report.html" class="nav__link">
                <i class='fas fa-file-medical-alt nav__icon' ></i>
                <span class="nav__name">Report</span>
            </a>
            <a href="../../pages/accounts/accounts.html" class="nav__link">
                <i class='fas fa-calculator nav__icon' ></i>
                <span class="nav__name">Accounts</span>
            </a>
            </div>
                <a href="../../pages/Settings/settings.html" class="nav__link">
                    <i class='fas fa-cog nav__icon' ></i>
                    <span class="nav__name">Settings</span>
                </a>
            </div>
    </nav>
    <!------------End Sidbar nav list------------>
</div>