{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
        <title>Pos</title>
    {% endif %}

    <!-- The following css is for navbar and sidebar starts-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- sweetalert2 css -->
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/DateTime-1.0.3/css/dataTables.dateTime.min.css' %}">

    
    <!---- Google FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <!----- FONT AWESOME  -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
    

    
    
    
    <!------------BaseNav page CSS ------------>
    <!-- <link rel="stylesheet" href="{% static 'css/basenav.css' %}"> -->
    <!-- navbar and sidebar ends-->
    <link rel="stylesheet" href="{% static 'css/vs.css' %}">
    <!------------Sales Order CSS ------------>
    <link rel="stylesheet" href="{% static 'css/sales-order.css' %}">
    <link rel="stylesheet" href="{% static 'css/alt/sales-order-section-grid.css' %}">
    <!------------Reusable CSS ------------>
    <link rel="stylesheet" href="{% static 'css/reusable.css' %}">

    <!-- Necessary File for Navbar and Sidebar -->
    <link rel="stylesheet" href="{% static 'css/sidebar-nav-main.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/softnology.css' %}"> -->

    <!-- Customer profile css -->
    <link rel="stylesheet" href="{% static 'css/customer-profile.css' %}">
    {% block  internal_css %}{% endblock internal_css %}
    <!-- Css from Shafayet -->
    <!-- Toastr notification -->
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
    <!-- jQuery -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <!-- JQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- This file stays this position otherwise toastr notification won't work-->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script src="{% static 'js/toastr_notification.js' %}"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        {% if user.is_authenticated %}
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
        {% endif %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                        <script type=text/javascript>
                            Toast.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}'
                            })
                        </script>
                    {% elif message.tags == 'info' %}
                        <script type=text/javascript>
                            Toast.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}'
                            })
                        </script>
                    {% elif message.tags == 'warning' %}
                        <script type=text/javascript>
                            Toast.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}'
                            })
                        </script>
                    {% elif message.tags == 'error' %}
                        <script type=text/javascript>
                            Toast.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}'
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% block content %}{% endblock content %}
            
        </div>
        <!-- /.content-wrapper -->





    </div>
    {% if user.is_authenticated %}
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0-SH
        </div>
        <strong>Doveloped by XoftNology</strong>
    </footer>
    {% endif %}




    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS then toastr.js, then toastr notification then others-->
    <!-- <script src="{% static 'js/jquery-3.5.1.js' %}"></script> -->
    
    
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <!-- js file for navbar and sidebar are (overlayScrollbars, bundle.min.js, sidebar-nav-main.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
    <script src="{% static 'js/sidebar-nav-main.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <!-- Select2 required Js file -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

   

    <!-- DataTables  & Plugins --> <!-- DataTable's necessary JS files -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/DateTime-1.0.3/js/dataTables.dateTime.min.js' %}"></script>
     
    {% block datatable_js_script %} {% endblock datatable_js_script %}
    
    {% block sales_history_datatable_js %} {% endblock sales_history_datatable_js %}
    {% block sold_report_datatable_js %} {% endblock sold_report_datatable_js %}
    {% block order_report_datatable_js %} {% endblock order_report_datatable_js %}
    {% block damage_product_report_datatable_js %} {% endblock damage_product_report_datatable_js %}
    {% block return_product_report_datatable_js %} {% endblock return_product_report_datatable_js %}
    {% block expense_report_datatable_js %} {% endblock expense_report_datatable_js %}

    {% block damage_product_datatable_js %} {% endblock damage_product_datatable_js %}
    {% block return_product_datatable_js %} {% endblock return_product_datatable_js %}
    {% block expense_datatable_js %} {% endblock expense_datatable_js %}
    {% block inventory_datatable_js %} {% endblock inventory_datatable_js %}
    {% block purchase_datatable_js %} {% endblock purchase_datatable_js %}
    {% block purchase_report_datatable_js %} {% endblock purchase_report_datatable_js %}
    
    {% block loss_profit_datatable_js %} {% endblock loss_profit_datatable_js %} 
    

    
    
    

    <!-- Custom Select2 -->


    <!-- printThis.js file is for parinting webpage -->
    <script src="{% static 'js/printThis.js' %}"></script>
    <script src="{% static 'js/print-statement.js' %}"></script>
    <!-- JsPdf necessary js File -->
    <script src="{% static 'js/jspdf.min.js' %}"></script>
    {% block scripts_for_jspdf %}{% endblock scripts_for_jspdf %}

    <script src="{% static 'js/jquery-custom-ui.js' %}"></script>

    <script src="{% static 'js/cash_payment.js' %}"></script>
    <script src="{% static 'js/sale-modals.js' %}"></script>
    <script src="{% static 'js/purchase-modals.js' %}"></script>
    <script src="{% static 'js/product-modals.js' %}"></script>
    <script src="{% static 'js/customer-modals.js' %}"></script>
    <script src="{% static 'js/expense-modals.js' %}"></script>
    <script src="{% static 'js/generate-purchase-price.js' %}"></script>
    
    
    {% block search_product %} {% endblock search_product %}
    <!-- {% block add_cart %} {% endblock add_cart %} -->
    <!-- This add_expense.js file lives in 'expenses' app. page-expense.html -->
    {% block add_expense %} {% endblock add_expense %}
    <!-- This add_expense.js file lives in 'purchase' app. page-expense.html -->
    
    <!-- {% block create_product %} {% endblock create_product %} -->
    {% block add_category %} {% endblock add_category %}
    {% block scan_product %} {% endblock scan_product %}

    {% block common_scripts %} {% endblock common_scripts %}
    {% block modal_scripts %}{% endblock modal_scripts %}
    
 
</body>
</html>





 