{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-pos-color">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
    <!----Full Button------->
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>        
    <!-- User Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
        <div class="user-panel d-flex" >
            {% if not user.profile.image %}
                {{ user.username|title }}
            {% else %}
                <!-- <div class="image">
                    <img src="" class="img-circle elevation-2" alt="User Image">
                </div> -->
                <div >
                    <img src="{{ user.profile.image.url }}"  alt="Customer Image" class="rounded-circle" style="height: 25px; width: 25px;">
                </div>
                <span class="mt-1">{{ user.username }}</span>
            {% endif %}

        </div>
        </a>
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
        <a href="#" class="dropdown-item">
            <i class="fas fa-user-circle mr-2"></i>
            Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-cog mr-2"></i> Settings
        </a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'users:logout' %}" class="dropdown-item  text-center">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        </div>
    </li>
    </ul>
</nav>
  <!-- /.navbar -->
