{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar bg-pos-color">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
    {% if site_logo and site_title%}
        <img src="{{ site_logo.url }}" class="brand-image img-circle" style="opacity: .8">
        <span class="brand-text font-weight-bold text-wrap">{{ site_title }}</span>
    {% elif site_title %}
        <span class="brand-text font-weight-bold text-wrap">{{ site_title }}</span>
    {% else %}
        <span class="brand-text font-weight-bold text-wrap">Your Company Title</span>
    {% endif %}
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{% url 'products:dashboard' %}" class="nav-link
                {% if request.resolver_match.url_name == 'dashboard' %}
                    active-nav-pos
                {% endif %}
                ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p> Dashboard </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'products:sales_order' %}" class="nav-link {% if request.resolver_match.url_name == 'sales_order' %}active-nav-pos{% endif %}">
                <i class="nav-icon fas fa-shopping-basket"></i>
                <p> Sales & Orders </p>
                </a>
            </li>

            <li class="nav-item
                {% if request.resolver_match.url_name == 'category' %}
                    menu-open
                {% elif request.resolver_match.url_name == 'product' %}
                    menu-open
                {% elif request.resolver_match.url_name == 'damage_product' %}
                    menu-open
                {% elif request.resolver_match.url_name == 'return_product' %}
                    menu-open
                {% elif request.resolver_match.url_name == 'print_barcode' %}
                    menu-open
                {% endif %}">
                <a href="#"  class="nav-link">
                    <i class="nav-icon fas fa-shopping-bag"></i>
                    <p>
                        Product & Cat
                    </p>
                    <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'products:category' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'category' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Product Categories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products:product' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'product' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Products</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sales:damage_product' %}" class="nav-link

                        {% if request.resolver_match.url_name == 'damage_product' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Damage Products</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sales:return_sold_product' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'return_sold_product' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Return Sold Products</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products:print_barcode' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'print_barcode' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Print Barcode</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'customers:customer' %}" class="nav-link {% if request.resolver_match.url_name == 'customer' %}active-nav-pos{% endif %}">
                <i class="nav-icon fas fa-users"></i>
                <p> Customer </p>
                </a>
            </li>

            <li class="nav-item
            {% if request.resolver_match.url_name == 'supplier_payment' %}
                menu-open
            {% elif request.resolver_match.url_name == 'supplier' %}
                menu-open
            {% endif %}">
                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p> Supplier </p>
                <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'suppliers:supplier' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'supplier' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Suppliers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:supplier_payment' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'supplier_payment' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Supplier Payment History</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'inventories:inventory' %}" class="nav-link {% if request.resolver_match.url_name == 'inventory' %}active-nav-pos{% endif %}">
                <i class="nav-icon fas fa-store"></i>
                <p> Inventory </p>
                </a>
            </li>

            <li class="nav-item
            {% if request.resolver_match.url_name == 'create_purchase' %}
                menu-open
            {% elif request.resolver_match.url_name == 'purchase_history' %}
                menu-open
            {% endif %}">
                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-briefcase"></i>
                <p> Purchase </p>
                <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'purchases:create_purchase' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'create_purchase' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create Purchase</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'purchases:return_purchase_product' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'return_purchase_product' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Return Purchase Product</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'purchases:purchase_history' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'purchase_history' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Purchase History</p>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'expenses:expense' %}" class="nav-link {% if request.resolver_match.url_name == 'expense' %}active-nav-pos{% endif %}">
                <i class="nav-icon fas fa-money-bill-wave"></i>
                <p> Expense </p>
                </a>
            </li>

            <li class="nav-item
            {% if request.resolver_match.url_name == 'sold_report' %}
                menu-open
            {% elif request.resolver_match.url_name == 'order_report' %}
                menu-open
            {% elif request.resolver_match.url_name == 'return_product_report' %}
                menu-open
            {% elif request.resolver_match.url_name == 'damage_product_report' %}
                menu-open
            {% elif request.resolver_match.url_name == 'expense_report' %}
                menu-open
            {% elif request.resolver_match.url_name == 'purchase_report' %}
                menu-open
            {% endif %}">
                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-file-medical-alt"></i>
                <p> Reports </p>
                <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'sales:sold_report' %}" class="nav-link {% if request.resolver_match.url_name == 'sold_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sold Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sales:order_report' %}" class="nav-link {% if request.resolver_match.url_name == 'order_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Order Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sales:damage_product_report' %}" class="nav-link {% if request.resolver_match.url_name == 'damage_product_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Damage Product Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sales:return_product_report' %}" class="nav-link {% if request.resolver_match.url_name == 'return_product_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Return Product Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'expenses:expense_report' %}" class="nav-link {% if request.resolver_match.url_name == 'expense_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Expense Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'purchases:purchase_report' %}" class="nav-link {% if request.resolver_match.url_name == 'purchase_report' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Purchase Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:loss_profit' %}" class="nav-link {% if request.resolver_match.url_name == 'loss_profit' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Loss-profit</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item

            {% if request.resolver_match.url_name == 'credit_transfer_page' %}
                menu-open
            {% elif request.resolver_match.url_name == 'credit_page' %}
                menu-open
            {% elif request.resolver_match.url_name == 'withdraw_credit_page' %}
                menu-open
            {% elif request.resolver_match.url_name == 'statement' %}
                menu-open
            {% endif %}">

                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-calculator"></i>
                <p> Accounts </p>
                <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'accounts:credit_page' %}" class="nav-link {% if request.resolver_match.url_name == 'credit_page' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Credit</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:credit_transfer_page' %}" class="nav-link {% if request.resolver_match.url_name == 'credit_transfer_page' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Credit Transfer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:withdraw_credit_page' %}" class="nav-link {% if request.resolver_match.url_name == 'withdraw_credit_page' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Credit Withdraw</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:cash_flow' %}" class="nav-link {% if request.resolver_match.url_name == 'cash_flow' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cash Flow</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:statement' %}" class="nav-link {% if request.resolver_match.url_name == 'statement' %}active-nav-pos{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Statement</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'app_settings:notification' %}" class="nav-link {% if request.resolver_match.url_name == 'notification' %}active-nav-pos{% endif %}">
                <i class="nav-icon fas fa-bell"></i>
                <p> Notifications </p>
                </a>
            </li>

            <li class="nav-item
            {% if request.resolver_match.url_name == 'general_setting' %}
                menu-open
            {% elif request.resolver_match.url_name == 'user' %}
                menu-open
            {% elif request.resolver_match.url_name == 'create_user' %}
                menu-open
            {% elif request.resolver_match.url_name == 'update_user' %}
                menu-open
            {% endif %}">
                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p> Settings </p>
                <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'users:user' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'user' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Users</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'app_settings:general_setting' %}" class="nav-link
                        {% if request.resolver_match.url_name == 'general_setting' %}
                            active-nav-pos
                        {% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>General Settings</p>
                        </a>
                    </li>
                </ul>
            </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
