<div id="cash-payment-modal" style="display: none;">
    <div class="row text-center" style="margin-top: 88px; ">
        <div class="col-6">
            <button id="no" class="ui-button ui-widget ui-corner-all">No</button>
        </div>
        <div class="col-6">
            <button id="yes" class="ui-button ui-widget ui-corner-all">Yes</button>
        </div>
    </div>
</div>