{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block inventory_datatable_js %}
    <script src="{% static 'js/inventory-datatable.js' %}"></script>
{% endblock inventory_datatable_js %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Inventory</span>
            </div>
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Purchase Price</th>
                    <th>Selling Price</th>
                    <th>Purchase Qty</th>
                    <th>Total Purchase Amount</th>
                    <th>Total Return Qty</th>
                    <th>Total Damage Qty</th>
                    <th>Total Sold Qty</th>
                    <th>Total Rem. Qty</th>
                    <th>Total Rem. Purchase Amount</th>
                    <th>Total Rem. Selling Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventories %}
                    <tr>
                        <td>  {{item.product.id}} </td>
                        <td>  {{item.product.name|title}} </td>
                        <td>  {{item.product.brand}} </td>
                        <td>  {{item.product.cost_price|intcomma}}</td>
                        <td>  {{item.product.selling_price|intcomma}}</td>
                        <td>  {{item.product.purchase_qty|intcomma}}</td>
                        <td>  {{item.get_total_purchased_price|intcomma}} </td>
                        <td>  {{item.get_total_return_product|intcomma}} </td>
                        <td>  {{item.get_total_damaged_product|intcomma}} </td>
                        <td>  {{item.get_total_sold_product|intcomma}} </td>
                        <td>  {{item.get_total_remaining_product}} </td>
                        <td> {{ item.get_total_remaining_purchase_amount|intcomma }} </td>
                        <td> {{ item.get_total_remaining_selling_amount|intcomma }} </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Product Id</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Purchase Price</th>
                    <th>Selling Price</th>
                    <th>Purchase Qty</th>
                    <th>Total Purchase Amount</th>
                    <th>Total Return Qty</th>
                    <th>Total Damage Qty</th>
                    <th>Total Sold Qty</th>
                    <th>Total Rem. Qty</th>
                    <th>Total Rem. Purchase Amount</th>
                    <th>Total Rem. Selling Amount</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}