{% load crispy_forms_tags %}
<div id="show-supplier-modal" style="display: none;">
    <form action="{% url 'suppliers:create_supplier' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>
</div>
