{% extends 'base.html' %}
{% load static %}
{% block datatable_js_script %} 
    <script src="{% static 'js/supplier-payment-datatable.js' %}"></script>
{% endblock datatable_js_script %}

{% block content %}
<div class="card">
    <div class="p-4">
        <div class="row">
            <div class="col-sm-7 ">
                <span class="display-4">Invoicewise Individual Supplier Payments</span>
            </div>
            
            <div class="col-sm-5 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Purchase Invoice Id</th>
                    <th>Supplier</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Payment Type</th>
                    <th>Added By</th>
                    <th>Amount</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                {% for item in supplier_payments %}
                    <tr>
                        <td>  {{item.purchase_invoice.id}} </td>
                        <td>  {{item.purchase_invoice.get_supplier}} </td>
                        <td>  {{item.created|date:"M d, Y"}} </td>
                        <td>  {{ item.description }}</td>
                        <td>  {{item.payment_method}} </td>
                        <td>  {{item.added_by}}</td>
                        <td>  {{item.amount}}</td>
                        <td>  {{item.purchase_invoice.get_total_due_amount}}</td>    
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Purchase Invoice Id</th>
                    <th>Supplier</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Payment Type</th>
                    <th>Added By</th>
                    <th>Amount</th>
                    <th>Due</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}