{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card card-info">
        <div class="card-header text-center">
            <h3 class="card-title">Update Supplier</h3>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                      <div class="form-group col-sm-6">
                          {{ form.first_name|as_crispy_field }}
                      </div>
                      <div class="form-group col-sm-6">
                          {{ form.last_name|as_crispy_field }}
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form.address1|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
        
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.phone1|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.phone2|as_crispy_field }}
                    </div> 
                </div>
                <div class="row">
                      <div class="form-group col-sm-12 ">
                        {{ form.picture|as_crispy_field }}
                    </div>
                </div>
        
            </div>
            <div class="card-footer row">
                <div class="col-6">
                    <a class="btn btn-info float-left" href="{% url 'suppliers:supplier' %}"> Cancel </a>
                </div>
                <div class="col-6">
                    <button type="Submit" class="btn btn-info float-right">Save</button>
                </div>
                
            </div>
        </form>
  
    </div>
  </div>
{% endblock %}

