{% extends 'base.html' %}
{% load static %}
{% block modal_scripts %}
    <script src="{% static 'js/supplier-modals.js' %}"></script>
{% endblock modal_scripts %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Supplier History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <button id="create-supplier" class="btn btn-md btn-info">
                <i class="fas fa-plus"></i>
                Add New Supplier
            </button>
        </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Supplier Id</th>
                    <th>Date Joined</th>
                    <th>Supplier Name</th>
                    <th>Address</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Note</th>
                    <th>Added BY</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in suppliers %}
                    <tr>
                        
                        <td>  #00{{ item.id }}</td>
                        <td>  {{ item.created|date:"M d, Y" }} </td>
                        <td>  {{ item.get_full_name }} </td>
                        <td>  {{ item.address1 }} </td>
                        <td>  {{ item.phone1 }} </td>
                        <td>  {{ item.phone2 }} </td>
                        <td>  {{ item.email }} </td>
                        <td>  {{ item.note }} </td>
                        <td>  {{ item.added_by }} </td>
                        <td>
                            <ul class="navbar-nav ml-auto ">
                                <li class="nav-item dropdown dropleft">
                                  <a class="nav-link text-center" data-toggle="dropdown" href="#">
                                    <i class="fas fa-ellipsis-v"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a href="{% url 'suppliers:supplier_profile' item.id %}" class="dropdown-item">
                                        <i class="fas fa-edit"></i>
                                        View Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'suppliers:update_supplier' item.id %}" class="dropdown-item">
                                        <i class="fas fa-edit"></i>
                                        Edit Supplier
                                    </a>
                                  </div>
                                </li>
                            </ul>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Supplier Id</th>
                    <th>Date Joined</th>
                    <th>Supplier Name</th>
                    <th>Address</th>
                    <th>Phone-1</th>
                    <th>Phone-2</th>
                    <th>Email</th>
                    <th>Note</th>
                    <th>Added BY</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% include 'suppliers/add-supplier-modal.html' %}
</div>

{% endblock %}
