{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Customer Profile Start -->
    <div class="container">
        <div class="row">
        <div class="col-md-6 img">
            <img src="{{ supplier.picture.url }}"  alt="Supplier Image" class="img-rounded">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5> {{ supplier.get_full_name }} </h5>
                {% if supplier.address1 %}
                    <small><cite title="Source Title"> {{ supplier.address1 }}  <i class="icon-map-marker"></i></cite></small> <br>
                {% endif %}
            </blockquote>
            <p>
                {% if supplier.phone1 %}
                    {{ supplier.phone1 }} <br>
                {% endif %}
                
                {% if supplier.phone1 %}
                    {{ supplier.phone1 }} <br>
                {% endif %}
                {{ supplier.email }} <br>
                {{ supplier.date_joined }} <br>
            </p>
        </div>
        </div>
    </div>
    <!-- Customer Profile ended -->






<!-- Individual Purchase History of Supplier start -->
<div class="card">
    <div class="">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Purchase History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="{% url 'purchases:create_purchase' %}" class="btn btn-md btn-info">
                <i class="fas fa-plus"></i>
                Create Purchase
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="form-group col-3">
                <label>Minimum date:</label>
    
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="min" name="min" class="form-control">
                </div>
                
            </div>

            <div class="form-group col-3">
                <label>Maximum date:</label>

                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" id="max" name="max" class="form-control">
                </div>
                
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice Id</th>
                    <th>Purchase Date</th>
                    <th>Added By</th>
                    <th>Status</th>
                    <th>Total Purchase Price</th>
                    <th>Total Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in purchase_invoices %}
                    <tr>
                        
                        <td>  
                            <a href="">{{ item.id }}</a> 
                        </td>
                        <td>  {{ item.created|date:"M d, Y" }} </td>
                        <td>  {{ item.get_sales_man }} </td>
                        {% if item.is_complete %}
                            <td><span class="badge badge-success">Done</span></td>
                        {% else %}
                            <td><span class="badge badge-warning">Pending</span></td>
                        {% endif %}
                        <td>  {{ item.get_total_purchase_amount }} </td>
                        <td>  {{ item.get_total_qty }} </td>
                        <td>
                            <ul class="navbar-nav ml-auto ">
                                <li class="nav-item dropdown dropleft">
                                  <a class="nav-link text-center" data-toggle="dropdown" href="#">
                                    <i class="fas fa-ellipsis-v"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a href="{% url 'purchases:purchase_invoice_details' item.id %}" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        View Invoice
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'suppliers:invoicewise_supplier_payments' item.id %}" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        View Payments for this invoice
                                    </a>
                                  </div>
                                </li>
                            </ul>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Invoice Id</th>
                    <th>Purchase Date</th>
                    <th>Added By</th>
                    <th>Status</th>
                    <th>Total Purchase Price</th>
                    <th>Total Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- {% include 'purchases/purchase-delete-modal.html' %} -->
</div>
<!-- Individual Purchase History of Supplier ended -->



{% endblock %}