{% load crispy_forms_tags %}
<div id="show-product-modal" style="display: none;">
    <form action="{% url 'products:create_product' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{productModelForm|crispy}}
        <button type="submit" class="btn btn-info btn-lg btn-block float-right">Submit</button>
    </form>

</div>
