{% extends 'base.html' %}
{% load static %}
{% block add_category %} 
<script src="{% static 'js/add-cat.js' %}"></script>
{% endblock add_category %}




{% block content %}

<div class="p-2">
    <div class="d-flex justify-content-end">
        <button id="open-cat" class="btn btn-info btn-lg">
            <i class="fas fa-plus"></i>
            Add Category
        </button>
    </div>

    <div class="row">
        {% for item in categories %}
        <a href="{% url 'products:category_details' item.pk %}">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                <img class="card-img" src="{{ item.cover_pic.url }}" alt="{{ item.name }}">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                    <h2 class="card-title text-center">{{item.name|upper}} <span class="badge badge-secondary">{{item.product_set.all.count}}</span></h2>
                </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>



{% include 'products/modal/category-modal.html' %}
{% endblock %}
