{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <section class="content main-content-dashboard">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row" style="color: #fff;">
            
            <!-- ./col -->
            <div class="col-lg-3 col-5">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_sale_amount_with_discount|intcomma }}<span style="font-size: 18px">BDT</span></h4>
                  <br>
                  <p>Total Sales Amount</p>
                </div>
                <div class="icon">
                  <i class="fas fa-money-bill-alt"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner" style=" height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_sale_wise_total_purchase_amount|intcomma }}<span style="font-size: 15px">BDT</span></h4>
                  <br>
                  <p>Total Saleswise Cost Amount</p>
                </div>
                <div class="icon">
                  <i class="fas fa-briefcase"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_expense|intcomma }}<span style="font-size: 15px">BDT</span></h4>
                  <br>
                  <p>Total Expense Amount</p>
                </div>
                <div class="icon">
                  <i class="fas fa-money-check-alt"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-primary">
                <div class="inner"  style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_supplier_payment|intcomma }}<span style="font-size: 15px">BDT</span></h4>
                  <br>
                  <p>Total Supplier Payment</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
          </div>
    
          <div class="row" style="color: #fff;">
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_sales|intcomma }}</h4>
                  <br>
                  <p>Total Sale<span style="font-size: 12px"> (This Year)</span></p>
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-bag"></i>
                </div>
                
              </div>
            </div>
    
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_product_damage_amount|intcomma }}</h4>
                  <br>
                  <p>Total Product Damage amount</p> 
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-basket"></i>
                </div>
                
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_product_damage|intcomma }}</h4>
                  <br>
                  <p>Product Damage Quantity</p>
                </div>
                <div class="icon">
                  <i class="fas fa-times"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <div class="small-box bg-primary">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_customer_added|intcomma }}</h4>
                  <br>
                  <p>Total New Customer</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_gross_profit|intcomma}}<span style="font-size: 15px">BDT</span></h4>
                  <br>
                  <p>Gross Profit</p>
                </div>
                <div class="icon">
                  <i class="fas fa-money-bill-alt"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner" style="height: 110px;">
                  <h4 style="font-weight: 700;">{{ this_year_total_net_profit|intcomma }}<snap style="font-size: 15px">BDT</snap></h4>
                  <br>
                  <p>Net Profit</p>
                </div>
                <div class="icon">
                  <i class="fas fa-hand-holding-usd"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            
          </div>
          <!-- /.row -->








          <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
              <!-- Yesterday vs Today Report start-->
              <!-- ***************************** -->
              <div class="card">
                <div class="card-header bg-info">
                  <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Yesterday vs Today Report
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Title</th>
                          <th>Yesterday</th>
                          <th style="width: 190px">Today</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1.</td>
                          <td>Total Purchase Amount</td>
                          <td>
                            {{ yesterday_total_purchase_amount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ today_total_purchase_amount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if yesterday_total_purchase_amount < today_total_purchase_amount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>Total Sales Amount</td>
                          <td>
                            {{ yesterday_total_sale_amount_with_discount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>
                              {{ today_total_sale_amount_with_discount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if yesterday_total_sale_amount_with_discount < today_total_sale_amount_with_discount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>1.</td>
                          <td>Saleswise Total Purchase Amount</td>
                          <td>
                            {{ yesterday_sale_wise_total_purchase_amount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ today_sale_wise_total_purchase_amount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if yesterday_sale_wise_total_purchase_amount < today_sale_wise_total_purchase_amount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>Total Expense Amount</td>
                          <td>
                            {{ yesterday_total_expense }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ today_total_expense }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if yesterday_total_expense < today_total_expense %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Total Supplier Payment</td>
                          <td>
                            {{ yesterday_total_supplier_payment }} <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ today_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if yesterday_total_supplier_payment < today_total_supplier_payment %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Total Discount</td>
                          <td>
                            {{ yesterday_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ today_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if yesterday_total_discount < today_total_discount %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>Total Others Fee</td>
                          <td>
                            {{ today_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ yesterday_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if today_total_other_fee < yesterday_total_other_fee %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td>Total Sale</td>
                          <td>
                            {{ yesterday_total_sales }}
                          </td>
                          <td>{{ today_total_sales }}
                            {% if yesterday_total_sales < today_total_sales %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>9.</td>
                          <td>Product Damage</td>
                          <td>
                            {{ yesterday_total_product_damage }}
                          </td>
                          <td>{{ today_total_product_damage }}
                            {% if yesterday_total_product_damage < today_total_product_damage %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>10.</td>
                          <td>New Customer Add</td>
                          <td>
                            {{ yesterday_total_customer_added }}
                          </td>
                          <td>{{ today_total_customer_added }}
                            {% if yesterday_total_customer_added < today_total_customer_added %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>11.</td>
                          <th>Gross Profit</th>
                          <th>
                            {{ yesterday_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ today_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if yesterday_gross_profit < today_gross_profit %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </th>
                        </tr>
                        <tr>
                          <td>12.</td>
                          <th>Net Profit</th>
                          <th>
                            {{ yesterday_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ today_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if yesterday_total_net_profit < today_total_net_profit %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </th>
                        </tr>
                        
     
                      </tbody>
                    </table>
                  </div>
              </div>
              <!-- Yesterday vs Today Report end-->
              <!-- ***************************** -->




              <!-- Last Week vs This week Report start-->
              <!-- ***************************** -->
              <div class="card">
                <div class="card-header bg-info text-light">
                  <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Last Week vs This week Report
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div><!-- /.card-header -->
                  <!-- /.card-header -->
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Title</th>
                          <th>Last Week</th>
                          <th style="width: 190px">This Week</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1.</td>
                          <td>Total Purchase Amount</td>
                          <td>
                            {{ last_week_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_purchase_amount < this_week_total_purchase_amount %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>Total Sales Amount</td>
                          <td>
                            {{ last_week_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_sale_amount_with_discount < this_week_total_sale_amount_with_discount %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>1.</td>
                          <td>Saleswise Total Purchase Amount</td>
                          <td>
                            {{ last_week_sale_wise_total_purchase_amount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_sale_wise_total_purchase_amount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if last_week_sale_wise_total_purchase_amount < this_week_sale_wise_total_purchase_amount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>Total Expense Amount</td>
                          <td>
                            {{ last_week_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_expense < this_week_total_expense %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Total Supplier Payment</td>
                          <td>
                            {{ last_week_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_supplier_payment < this_week_total_supplier_payment %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Total Discount</td>
                          <td>
                            {{ last_week_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_discount < this_week_total_discount %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>Total Others Fee</td>
                          <td>
                            {{ last_week_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_week_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_week_total_other_fee < this_week_total_other_fee %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td>Total Sale</td>
                          <td>
                            {{ last_week_total_sales }}
                          </td>
                          <td>{{ this_week_total_sales }}
                            {% if last_week_total_sales < this_week_total_sales %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>9.</td>
                          <td>Product Damage</td>
                          <td>
                            {{ last_week_total_product_damage }}
                          </td>
                          <td>{{ this_week_total_product_damage }}
                            {% if last_week_total_product_damage < this_week_total_product_damage %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>10.</td>
                          <td>New Customer Add</td>
                          <td>
                            {{ last_week_total_customer_added }}
                          </td>
                          <td>{{ this_week_total_customer_added }}
                            {% if last_week_total_customer_added < this_week_total_customer_added %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>11.</td>
                          <th>Gross Profit</th>
                          <th>
                            {{ last_week_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_week_gross_profit }}
                            {% if last_week_gross_profit < this_week_gross_profit %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </th>
                        </tr>
                        <tr>
                          <td>12.</td>
                          <th>Net Profit</th>
                          <th>
                            {{ last_week_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_week_total_net_profit }}
                            {% if last_week_total_net_profit < this_week_total_net_profit %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </th>
                        </tr>
                        
     
                      </tbody>
                    </table>
                  </div>
             
              </div>
              <!-- Last Week vs This week Report end-->
              <!-- ***************************** -->
            </section>
            <!-- /.Left col -->











            <!-- section-2 -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable">
    
              <!-- card -->
              <!-- Last Month vs This Month Report start-->
              <!-- ***************************** -->
              <div class="card">
                <div class="card-header border-0 bg-info text-light">
                  <h3 class="card-title">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                   Last Month vs This Month Report
                  </h3>
                  <!-- card tools -->
                  <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
    
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Title</th>
                          <th>Last Month</th>
                          <th style="width: 190px">This Month</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1.</td>
                          <td>Total Purchase Amount</td>
                          <td>
                            {{ last_month_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_purchase_amount < this_month_total_purchase_amount %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}  
                          </td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>Total Sales Amount</td>
                          <td>
                            {{ last_month_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_sale_amount_with_discount < this_month_total_sale_amount_with_discount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>1.</td>
                          <td>Saleswise Total Purchase Amount</td>
                          <td>
                            {{ last_month_sale_wise_total_purchase_amount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_sale_wise_total_purchase_amount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if last_month_sale_wise_total_purchase_amount < last_month_sale_wise_total_purchase_amount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>Total Expense Amount</td>
                          <td>
                            {{ last_month_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_expense < this_month_total_expense %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Total Supplier Payment</td>
                          <td>
                            {{ last_month_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_supplier_payment < this_month_total_supplier_payment %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}  
                          </td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Total Discount</td>
                          <td>
                            {{ last_month_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_discount < this_month_total_discount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>Total Others Fee</td>
                          <td>
                            {{ last_month_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_month_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_other_fee < this_month_total_other_fee %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td>Total Sale</td>
                          <td>
                            {{ last_month_total_sales }}
                          </td>
                          <td>{{ this_month_total_sales }}
                            {% if last_month_total_sales < this_month_total_sales %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>9.</td>
                          <td>Product Damage</td>
                          <td>
                            {{ last_month_total_product_damage }}
                          </td>
                          <td>{{ this_month_total_product_damage }}
                            {% if last_month_total_product_damage < this_month_total_product_damage %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>10.</td>
                          <td>New Customer Add</td>
                          <td>
                            {{ last_month_total_customer_added }}
                          </td>
                          <td>{{ this_month_total_customer_added }}
                            {% if last_month_total_customer_added < this_month_total_customer_added %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>11.</td>
                          <th>Gross Profit</th>
                          <th>
                            {{ last_month_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_month_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_gross_profit < this_month_gross_profit %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </th>
                        </tr>
                        <tr>
                          <td>12.</td>
                          <th>Net Profit</th>
                          <th>
                            {{ last_month_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_month_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_month_total_net_profit < this_month_total_net_profit %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </th>
                        </tr>
                        
     
                      </tbody>
                    </table>
                  </div>
              </div>
              <!-- Last Month vs This Month Report end-->
              <!-- ***************************** -->
              <!-- /.card -->




              <!-- Last Year vs This Year Report start-->
              <!-- ***************************** -->             
              <div class="card">
                <div class="card-header  bg-info text-light">
                  <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Last Year vs This Year Report
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div><!-- /.card-header -->
                  <!-- /.card-header -->
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Title</th>
                          <th>Last Year</th>
                          <th style="width: 190px">This Year</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1.</td>
                          <td>Total Purchase Amount</td>
                          <td>
                            {{ last_year_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_purchase_amount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_purchase_amount < this_year_total_purchase_amount%}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>Total Sales Amount</td>
                          <td>
                            {{ last_year_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_sale_amount_with_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_sale_amount_with_discount < this_year_total_sale_amount_with_discount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                            <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>1.</td>
                          <td>Saleswise Total Purchase Amount</td>
                          <td>
                            {{ last_year_sale_wise_total_purchase_amount }}
                            <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_sale_wise_total_purchase_amount }}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span>
                              {% if last_year_sale_wise_total_purchase_amount < this_year_sale_wise_total_purchase_amount %}
                                <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                              {% else %}
                                <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                              {% endif %} 
                          </td>
                        </tr>
                        
                        <tr>
                          <td>3.</td>
                          <td>Total Expense Amount</td>
                          <td>
                            {{ last_year_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_expense }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_expense < this_year_total_expense %}
                              <span class="badge bg-success float-right"  style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right"  style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                            
                          </td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Total Supplier Payment</td>
                          <td>
                            {{ last_year_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_supplier_payment }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_supplier_payment < this_year_total_supplier_payment %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                            
                          </td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Total Discount</td>
                          <td>
                            {{ last_year_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_discount }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_discount < this_year_total_discount %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>Total Others Fee</td>
                          <td>
                            {{ last_year_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </td>
                          <td>{{ this_year_total_other_fee }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                            {% if last_year_total_other_fee < this_year_total_other_fee %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td>Total Sale</td>
                          <td>
                            {{ last_year_total_sales }}
                          </td>
                          <td>{{ this_year_total_sales }}
                            {% if last_year_total_sales < this_year_total_sales %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                        </tr>
                        <tr>
                          <td>9.</td>
                          <td>Product Damage</td>
                          <td>
                            {{ last_year_total_product_damage }}
                          </td>
                          <td>{{ this_year_total_product_damage }}
                            {% if last_year_total_product_damage < this_year_total_product_damage %}
                            <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                            <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>10.</td>
                          <td>New Customer Add</td>
                          <td>
                            {{ last_year_total_customer_added }}
                          </td>
                          <td>{{ this_year_total_customer_added }}
                            {% if last_year_total_customer_added < this_year_total_customer_added %}
                              <span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>11.</td>
                          <th>Gross Profit</th>
                          <th>
                            {{ last_year_gross_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_year_gross_profit }}
                            {% if last_year_gross_profit < this_year_gross_profit %}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span><span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span><span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                            
                          </th>
                        </tr>
                        <tr>
                          <td>12.</td>
                          <th>Net Profit</th>
                          <th>
                            {{ last_year_total_net_profit }}<span style="font-size: 14px; margin-left: 4px;">BDT</span>
                          </th>
                          <th>{{ this_year_total_net_profit }}
                            {% if last_year_total_net_profit < this_year_total_net_profit %}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span><span class="badge bg-success float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-up"></i></span>
                            {% else %}
                              <span style="font-size: 14px; margin-left: 4px;">BDT</span><span class="badge bg-danger float-right" style="margin-left: 1rem;"> <i class="fas fa-arrow-down"></i></span>
                            {% endif %}
                            
                          </th>
                        </tr>
                        
     
                      </tbody>
                    </table>
                  </div>
             
              </div>
              <!-- Last Year vs This Year Report end-->
              <!-- ***************************** -->              
              <!-- /.card -->
            </section>
            <!-- right col -->
          </div>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    
    </section>
</div>
{% endblock content %}