{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block common_scripts %} 
    <script src="{% static 'js/products_common_scripts.js' %}"></script>
{% endblock common_scripts %}
{% block content %}
<div class="container">
    {% if not formset %}
    <form action="" method="GET">
        <div>
            <div class="justify-content-center row">
                <div class="title col-sm-5">
                    <h1 class="display-5">How many types of 'product barcode' do you want to print?</h1>
                </div>
            </div>
            <div class="justify-content-center row">
                <div class=" col-sm-5 form-group">
                    <label for="total_type">Enter the number:</label>
                    <input type="number" class="form-control" id="total-type" value="" name="total_type" required>
                    <button type="submit" class="btn btn-info btn-info btn-block">Send request</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    {% if formset %}
        <form action="" method="post">
            {% csrf_token %}
            {{formset.management_form}}
            <div class="card mb-4 p-5">
                <div class="row">
                    <div class="col-4">
                        <label for="id_product_name">Product Name</label>
                        <input type="checkbox" class="form-check-input position-static" name="product_name" id="id_product_name">
                    </div>
                    <div class="col-4">
                        <label for="id_selling_price">Selling Price %</label>
                        <input type="checkbox" class="form-check-input position-static" name="selling_price" id="id_selling_price">
                    </div>
                    <div class="col-4">
                        <label for="id_selling_price_with_discount">Selling Price With Discount %</label>
                        <input type="checkbox" class="form-check-input position-static" name="selling_price_with_discount" id="id_selling_price_with_discount">
                    </div>
                </div>
            </div>

            {% for form in formset %}
            <div class="card text-dark text-dark bg-light">
                <h3 class="text-center"><span class="badge badge-info">{{ forloop.counter }}</span></h3>
                <div class="card-body"">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            {{ form.product|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-6">
                            {{ form.qty|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <button class="btn btn-info float-right text-white"">
                Submit
                <!-- Generate Total Purchase Price -->
            </button>


        </form>
    {% endif %}
</div>
{% endblock %}
















