{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<style>
    .barecode-page-a4 {
    width: 210mm;
    height: 297mm;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  
  /*Background color ta fele dis*/

  background: rgb(241, 234, 234);
  margin: 0.5rem;
  font-size: 30px;
  text-align: center;
  padding: 0.5rem;
  line-height: 0;
}
.barcode-img{
    width: 170px;
    text-align: center;
}
p{
    font-size: 0.8rem;
    line-height: 0;
}

</style>
</head>
<body>
<div class="barecode-page-a4">
    
<div class="grid-container">

{% for product in  parent_product_list %}

        <div class="grid-item">
            <div class="barcode-img">
                <img src="{{product.barcode.url}}" alt="">
            </div>
            {% if product_name %}
                <p> {{ product.name }} </p>
            {% endif %}
            <p>{% if selling_price %}<strike>{{product.selling_price|intcomma}} BDT</strike>{% endif %} {% if selling_price_with_discount %} {{product.get_selling_price_after_discount}} BDT {% endif %}</p>
        </div>

{% endfor %}
</div>
</div>

</body>
</html>
