{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card card-info text-dark text-dark bg-light">
        <div class="card-header text-center">
            <h3 class="card-title">Update Product</h3>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                      <div class="form-group col-sm-6">
                          {{ form.category|as_crispy_field }}
                      </div>
                      <div class="form-group col-sm-6">
                          {{ form.name|as_crispy_field }}
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.product_code|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.selling_price|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form.discount|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.brand|as_crispy_field }}
                    </div> 
                    <div class="form-group col-sm-6">
                        {{ form.is_discount_in_parcentage|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.description|as_crispy_field }}
                      </div>
                      <div class="form-group col-sm-6 ">
                        {{ form.product_pic|as_crispy_field }}
                    </div>
                </div>

            </div>
            <div class="card-footer row">
                <div class="col-6">
                    <a class="btn btn-info float-left" href="{% url 'products:product' %}"> Cancel </a>
                </div>
                <div class="col-6">
                    <button type="Submit" class="btn btn-info float-right">Save</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}