{% extends 'base.html' %}
{% load static %}
{% block datatable_js_script %} 
<script src="{% static 'js/product-datatable.js' %}"></script>
{% endblock datatable_js_script %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6 ">
                <span class="display-4">Product History</span>
            </div>
            
            <div class="col-sm-6 printbar  text-right">
                <!-- Here shows pdf, csv, print, copy, excel button by plugins  -->
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-md btn-info js-create-product">
                <i class="fas fa-plus"></i>
                Add New Product
            </button>
        </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Category</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Brand</th>
                    <th>Discount %</th>
                    <th>Added by</th>
                    <th>Updated by</th>
                    <th>Purchase Qty</th>
                    <th>Purchase Price</th>
                    <th>Selling Price</th>
                    <th>Discount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        
                        <td>  {{ product.id }} </td>
                        <td>  {{ product.category.name}} </td>
                        <td class="text-center">  
                            <a href="{{product.product_pic.url}}" >
                                <img src="{{ product.product_pic.url }}" alt="" style="width: 50px; height: 20px; object-fit: contain;">
                            </a>
                        </td>
                        <td>  {{ product.name|title  }} </td>
                        <td>  {{ product.product_code }} </td>
                        <td>  {{ product.brand }} </td>
                        <td>  {{ product.is_discount_in_parcentage }} </td>
                        <td>  {{ product.added_by }} </td>
                        <td>  {{ product.updated_by }} </td>
                        <td>  {{ product.purchase_qty }} </td>
                        <td>  {{ product.cost_price }} </td>
                        <td>  {{ product.selling_price }} </td>
                        <td>  {{ product.get_discount }} </td>
                        <td>
                            <a href="{% url 'products:update_product' product.id %}">
                                <i class="fas fa-edit"></i>
                            </a>
                                
                            
                            <!-- <span class="js-delete-product" data-product_id="{{ product.id }}">
                                <i class="fas fa-trash"></i>
                            </span> -->
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Product Id</th>
                    <th>Category</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Brand</th>
                    <th>Discount %</th>
                    <th>Added by</th>
                    <th>Updated by</th>
                    <th>Purchase Qty</th>
                    <th>Purchase Price</th>
                    <th>Selling Price</th>
                    <th>Discount</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% include 'products/add-product-modal.html' %}
    {% include 'products/product-delete-modal.html' %}
</div>

{% endblock %}
