{% extends 'base.html' %}
{% load static %}
<!-- {% block add_cart %}
    <script src="{% static 'js/add_cart.js' %}"></script>
{% endblock add_cart %} -->
{% block search_product %} 
    <script src="{% static 'js/search_product.js' %}"></script>
{% endblock search_product %}

{% block scan_product %}
    <script src="{% static 'js/scan_product.js' %}"></script>
{% endblock scan_product %}

{% block datatable_js_script %} 
    <script src="{% static 'js/sales-history-datatable.js' %}"></script>
{% endblock datatable_js_script %}

{% block content %}
<!-- Alert messages -->
<div class="alert alert-danger collapse container text-center mb-0" role="alert" id="passwordsNoMatchRegister">
    <span>
        <strong>Quantity can't be empty. Please provide quantity.</strong>.
    </span>
</div>
<!-- Alert messages ends -->

<div class="main-content mt-0">
    <!----------- Start Product selling section------------->
    <div class="product-selling-section">
        <!----------- Start Product selling selection------------->
        <div class="pos-product-selection">
             <!----------- Start Product Selection Header------------->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text text-info"><i class="fas fa-search"></i></span>
                </div>
                {% csrf_token %}
                <input  type="text" class="form-control" id="psearch-input" autocomplete="off" placeholder="Search Product here....">
                   
            </div>
            <!----------- End Product Selection Header------------->

            <!----------- Start Product View Area------------->
            
            <div id="js-result" class="product-view-area row prod-not-visible js-product-search">
                <!-- search items will be added automatically here -->
            </div>

            <div id="product-view-area-scroll" class="product-view-area js-product-show">
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-3 ">
                        <!-- Card start -->
                        <div class="card mt-3 rounded">
                            <div class="product-1 p-2 align-items-center text-center">
                                <img src="{{ product.product_pic.url}}" alt="" width="100" height="100" style="object-fit: contain;">
                                <h6 style="height: 30px;" class="font-weight-bold">{{ product.name|upper }}</h6>
                    
                                <!-- card info -->
                                <div class=" info font-weight-bold p-1 text-center">
                                    <div class=" mt-4 row">
                                        <div class="col-6">
                                            <span class=""><strike>BDT {{ product.selling_price }}</strike></span>
                                        </div>
                                        <div class="col-6">
                                            <span class=" text-red ">BDT {{ product.get_selling_price_after_discount }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- card info ended-->
                            </div>
            
                            <!-- card button -->
                            <div class="js-add-to-cart p-1 shoe text-center btn btn-sm textwhite mt3 cursor bg-info"
                                data-product='{{ product.get_product_slug }}'
                                data-product_id='{{ product.id}}'
                                data-selling_price='{{ product.selling_price }}'     
                                data-discount='{{ product.get_discount }}'
                                data-product_code='{{ product.product_code }}'>
                            
                                <span class=" text-uppercase">Add to Cart</span>
                            </div> 
                        </div>
                        <!-- Card ended -->
                    </div>
                    {% endfor %}
                </div>
            </div>

             <!----------- End Product View Area------------->
        </div>
        <!----------- End Product selling selection------------->

        <!----------- Start Selling Accounts section------------->
        {% include 'products/sales_order/cart_section.html' %}
        <!----------- End Selling Accounts section------------->
    </div>
    <!----------- END Product selling section------------->

    <!----------- Start Sales History Table------------->
    {% include 'sales/sales-history.html' %}
    <!----------- Start Sales History Table------------->
</div>

{% include 'customers/create-customer-modal.html' %}

{% endblock %}
<!-- 
<div id="product-view-area-scroll" class="product-view-area row-raw js-product-show">
    {% for product in products %}
    <div class="col-raw span_1_of_5 view-box">
        <div class="product-img-sale">
            <img src="{{ product.product_pic.url}}" alt="">
            <div class="product-title text-wrap">
                <span class="text-wrap">{{ product.name|upper }}</span>
            </div>
            <div class="product-price">
                <span class="font-weight-bold" data-selling_price='{{ product.selling_price }}'>TK.</span><span>{{ product.selling_price }}</span>
            </div>
        </div>
        <div class="product-btn">
            <button class="add-cart js-add-to-cart ui-button ui-widget ui-corner-all" 
                    data-product='{{ product.get_product_slug }}'
                    data-product_id='{{ product.id}}'
                    data-selling_price='{{ product.selling_price }}'     
                    data-discount='{{ product.get_discount }}'
                    data-product_code='{{ product.product_code }}'>
                    Add to Cart
            </button>
            <!-- <input class="ui-button ui-widget ui-corner-all" type="submit" value="Place Order"> -->
        <!-- </div>
    </div>
    {% endfor %}     -->



    <!-- <div id="product-view-area-scroll" class="product-view-area js-product-show">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top h-25" src="{{ product.product_pic.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center"><strong>{{ product.name|upper }}</strong></h5>
                        <p class="card-text text-center"><strong>Price: TK.{{ product.selling_price }}</strong></p>
                        <button class="js-add-to-cart btn-block ui-button ui-widget ui-corner-all" 
                                    data-product='{{ product.get_product_slug }}'
                                    data-product_id='{{ product.id}}'
                                    data-selling_price='{{ product.selling_price }}'     
                                    data-discount='{{ product.get_discount }}'
                                    data-product_code='{{ product.product_code }}'>
                                    Add to Cart
                        </button>
                    </div>
                  </div>
            </div>
            {% endfor %}  
        </div>
    </div> -->




<!-- product search from line-31 -->
<!-- <div class="product-selection-header row">
    <div class="selection-header-left col-12">
        <i class="fas fa-search fa-search-pos"></i>
    
        {% csrf_token %}
        <input  type="text" id="psearch-input" autocomplete="off" placeholder="Search Product here....">
            
    </div>
</div> -->